[2018-09-06 17:14] jontebol opened #1 "Status?"
Hi! I stumbled upon this gem and wanted to try it, but it's not available from rubygems.org yet, so just wanted to ask if it will be up any time soon?

[2018-10-10 07:43] route opened #11 "Implement screenshot feature"
The screenshot is currently working but it doesn't handle a few arguments

[2018-12-07 08:27] route opened #15 "Implement fill_in feature"

[2018-12-07 08:28] route opened #16 "Implement frames feature"

[2018-12-07 08:31] route commented on #1
Out of more than 1300 tests currently 230 are pending and most of them will be fixed as they rely on #fill_in   and #frame features. I'm gonna close this issue and release gem when all tests will be passing.

[2018-12-07 08:31] #1 closed

[2018-12-07 13:49] route opened #17 "Implement file attachments"

[2018-12-07 15:32] route opened #18 "Implement modals"

[2018-12-25 13:08] #16 closed

[2019-01-16 03:41] twalpole opened #19 "Benchmarks are misleading"
After looking at the reason for the speed improvements the benchmarks are misleading/invalid.  The majority of the speedup comes because cuprite is set Capybara.default_max_wait_time to 0 for a large part of the Capybara specs, which means a large number of them aren't actually testing anything and makes the timing non-comparable to Selenium headless Chrome.  If Selenium headless Chrome is run wit

[2019-01-16 12:41] route commented on #19
@twalpole so then cuprite vs poltergeist is only valid

[2019-01-16 13:45] #15 closed

[2019-01-16 15:15] route commented on #19
@twalpole in fact I don't see where it's set for selenium as where it's set in poltergeist/cuprite to 0

[2019-01-16 16:56] twalpole commented on #19
@route Capybara resets the time to 1 at https://github.com/teamcapybara/capybara/blob/master/lib/capybara/spec/spec_helper.rb#L26 which is called after every test. Cuprite is resetting that to 0 in a before block at - https://github.com/machinio/cuprite/blob/master/spec/spec_helper.rb#L122 -  which technically means that it's not actually valid to claim compatibility with Capybara since tests aren

[2019-01-16 19:57] route commented on #19
@twalpole oh wow I didn't notice it either even in poltergeist :) haha) ok let's what we have

[2019-01-16 20:07] route commented on #19
If I remove this line from spec helper I get for cuprite:
[code]

[2019-01-16 20:12] twalpole commented on #19
That's more like I would expect with the tests being skipped, etc -- they really should be approximately equal in speed, when run with the same settings, just with Cuprite able to support more features.

[2019-01-16 20:33] route commented on #19
yea but still all three in the same environment right? but poltergeist is being slower than chrome

[2019-01-16 20:35] twalpole commented on #19
yea -- chrome has come a long way in the time that no phantoms development occurred -- speedup in the browser (and headless mode) should have made it similar in speed when a large part of the Capybara test suite slowness is it intentionally waiting for things to happen/not happen.

[2019-01-17 08:51] route commented on #19
Updated README, thanks for pointing this out!

[2019-01-17 08:51] #19 closed

[2019-01-17 14:47] Valve opened #20 "No test coverage badge"
You don't seem to have a test coverage badge and it's unclear if specs are all green and if it's safe to use your project.

[2019-01-17 17:23] JasonBarnabe opened #21 "Implement log access"
I use this to check for JS errors:
[code]

This results in:
[code]

[2019-01-17 18:20] #18 closed

[2019-01-18 04:57] sj26 opened #22 "Can't start on macOS"
Trying this out on macOS with `BROWSER_PATH=/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome` I get:

[code]

I popped open the gem and made Process.start dump output while looking for websockets and found:

[code]

Would be nice if the browser output were piped to the logger when `CUPRITE_DEBUG=1` or something.

[2019-01-18 04:59] sj26 commented on #22
If I start a process manually it starts fine:

[code]

I think it's just aborting too early

[2019-01-18 05:02] sj26 commented on #22
Confirmed, changing `attempts` from `3` to `10` gets it working

[2019-01-18 05:10] sj26 commented on #22
Making this based on elapsed cpu time seems sensible. This works well for me:

[code]

[2019-01-18 05:14] sj26 opened #23 "Auto-discover Google Chrome on macOS"
It would be nice if cuprite discovered my locally installed Google Chrome in the default location on macOS, like selenium etc.

[code]

[2019-01-18 07:13] route commented on #23
@sj26 Totally agree, didn't pay attention to it much while developing

[2019-01-18 07:16] sj26 commented on #23
Ps this project looks super awesome!! I’ve been hoping someone would do this soon! 🙇🏻

[2019-01-18 07:41] route commented on #23
Thank you) Glad you like it! Yea the idea was in the air we just needed it badly so we started implementing it :)

[2019-01-18 07:48] route commented on #22
I decided to drop everything Chrome produces, didn't find anything important there except ws_url.
I like your solution, do you want to open a PR?

[2019-01-18 08:10] route commented on #21
It's not fully ready for now, but it won't work like it works for selenium with `manage` method. It will be close to the way it worked in [Poltergeist](https://github.com/teampoltergeist/poltergeist#customization) and js_errors option.

[2019-01-18 10:33] dreyks commented on #23
we can take a look at how selenium does it

https://github.com/nu7hatch/selenium-webdriver/blob/master/lib/selenium/webdriver/chrome/launcher.rb#L113

btw, thx for the project. i needed it but knew I'd be too lazy to do that

the ruby-weekly mailing list could've attracted people here, so maybe we can help you moving it forward

[2019-01-18 16:14] route commented on #23
@dreyks thanks, would appreciate it!

[2019-01-18 17:54] edzhelyov commented on #23
@route what's the reasons to go directly to Chrome instead of the using the Selenium version?
In my company we changed recently from poltergeist to selenium headless chrome and the only issue was somehow a bit slower specs, so I'm curious why you needed it that badly?

[2019-01-18 17:56] dreyks commented on #23
People don't like java. why have an additional proxy if your can avoid it? also selenium or rather chromium has limited capabilities compared to using bare CDT protocol, such as lack of header management, js environment management, network and other cool things

[2019-01-19 10:39] iainbeeston commented on #22
For what it's worth I'm seeing this as well. Both solutions (increasing attempts to 10 and @sj26 's while loop) work on my project.

[2019-01-19 10:44] iainbeeston commented on #23
FYI selenium webdriver is licensed under the apache 2 license, so they shouldn't mind if you reuse their list of locations (it might require disclaiming in the readme where the list came from though?)

[2019-01-19 10:59] iainbeeston commented on #22
I hope you don't mind @sj26 but I've raised a PR using your code, as I'd like to use it in my own project, and I figured if I was editing the code anyway I might as well raise it as a PR. I've credited you in the commit message. Let me know if you object and I'll close it right away.

FYI I've updated it slightly to use a monotonic clock (rather than CPU time) as suggested in [this](https://blog.d

[2019-01-19 17:31] iainbeeston commented on #20
I've been trying to get the build passing on [Travis](https://travis-ci.org/). I'm pretty close, but there are still some intermittent issues to fix.

[2019-01-19 23:03] vizcay opened #25 "Is `rack >= 2.0.6` dependency really needed?"
I've tried to test this with a 5yo Rails v4.2.0 app, but that dependency wasn't too hard to met.

https://www.reddit.com/r/rails/comments/ahmbp0/we_switched_from_poltergeist_to_chromedriver_and/

[2019-01-19 23:43] gencer opened #26 "Docker + cuprite"
Whenever I try to run chrome inside of a docker container, I get this:

[code]

It says permission denied. I gave executable permissions to this folder and their files in it. I can start chrome myself. It works. However, cuprite is unable to spawn a process.

Dou you have a working example for docker? How do you start your docker? (I simply start dockerd with tcp socket thats all) What kind of per

[2019-01-20 22:33] #26 closed

[2019-01-21 05:48] iainbeeston commented on #20
#27 is my attempt to add publicly visible CI and a build badge

[2019-01-21 07:40] route commented on #22
Closing this after merging #24

[2019-01-21 07:40] #22 closed

[2019-01-21 07:55] route commented on #25
@vizcay I think we don't need it at all in the gemspec. I'll remove it and you can try using the project from github `gem "cuprite", github: "machinio/cuprite"` before we release new version.

[2019-01-21 07:59] route commented on #25
done, try it and let me know if everything is ok

[2019-01-21 07:59] #25 closed

[2019-01-21 13:04] vizcay opened #30 "State that Cuprite requieres Ruby 2.4"
It will be useful if is stated on the gemspec or README file this requirement or relaxed. Tried to test it with a big Rails app we are on Ruby 2.3.3 and failed because `undefined method "match?" for #<String:0x007fed7b8e30f8>` (https://stackoverflow.com/questions/41792348/nomethoderror-undefined-method-match-for-rubystring):

[code]

I will suggest, if you want a bigger pool of colaborators, relax

[2019-01-21 13:09] route commented on #30
@vizcay You can try using it from github until we release new version. It's now gone and should be working with ruby 2.3

[2019-01-21 13:32] vizcay commented on #30
I'm on  revision 85177260d0c03258d0d109648a72b6aa8f93fe24 and is still failing:

[code]

[2019-01-21 14:15] route commented on #30
@vizcay sorry you are right, I'll fix it now

[2019-01-21 14:22] route commented on #30
@vizcay tests are passing for ruby 2.3, just pushed changes

[2019-01-21 15:51] #30 closed

[2019-01-21 21:20] vizcay commented on #30
@route great, now it's working 👍 I will benchmark the results.. as far as I can tell, is faster than chromedriver but slower than phantomjs.

[2019-01-21 22:32] vizcay opened #31 "#send_keys is failing when passing a symbol"
According to capybara docs (https://www.rubydoc.info/github/jnicklas/capybara/Capybara%2FNode%2FElement:send_keys), it should allowed to send a key event in the form of `element.send_keys :tab`. It looks like is only expecting a string:

[code]

[2019-01-22 14:55] McRip opened #32 "can websocket-driver ~0.7 be relaxed to >= 0.6.5 to support Rails 5.1"
actioncable 5.1.6.1 (current actioncable release for Rails 5.1) has a dependency to `websocket-driver ~> 0.6.1` which is currently resolved to `0.6.5`.
By relaxing the dependency to `>= 0.6.5` we could add Rails 5.1 support.

Thanks for looking into this issue.

[2019-01-22 15:27] route commented on #32
Sounds good to me!

[2019-01-23 11:34] route commented on #32
FIxed in #35

[2019-01-23 11:34] #32 closed

[2019-01-23 11:36] route commented on #31
`send_keys` doesn't support any fancy keys right now, it's not implemented yet. PRs are always welcome ;)

[2019-01-24 11:10] iainbeeston opened #37 "undefined method `map' for "(cyclic structure)":String"
I have code in a capybara feature spec that looks like this:

[code]

and I'm calling it on a page with html like this:

[code]
It should return `"Enter details"`, but instead it's raising an error in cuprite (I'm using master):

[code]

This is failing on [`Browser#find_all`](https://github.com/machinio/cuprite/blob/be6d0412614a9e764663ddfefbed39c24a205d28/lib/capybara/cuprite/browser.rb#L245), w

[2019-01-24 13:00] route commented on #37
Fills like a bug, thought I'm not sure where. Could you reproduce it with simple test? Also returning something like a cyclic object isn't good also, so maybe you could modify your test so it returns part of the object rather than the whole object. But we need to fix this case anyway

[2019-01-24 17:07] #23 closed

[2019-01-25 08:01] iainbeeston commented on #37
I'm struggling to reproduce this unfortunately, although I'm still trying different things.

It seems to fail when capybara tries to find a react.js component. Then when cuprite calls `isCyclic()` on the DOM node of the component, `JSON.stringify()` throws a `TypeError: Converting circular structure to JSON` error.

As I'm looking at the code for this, should `Browser::Runtime#reduce_props` throw

[2019-01-25 08:47] iainbeeston commented on #37
I've managed to reproduce it in a test app here:

https://github.com/iainbeeston/cuprite-test

It seems to be that if I ask capybara/cuprite to find a react component, it gets the cyclic structure error. In the test app I have an example that checks the contents of a react component that just renders `<tt>Greeting: Hello from react-rails.</tt>`. I would have thought that this isn't a cyclic DOM no

[2019-01-25 08:48] iainbeeston commented on #37
I forgot to say, but I set up travis CI for the test app, so you can see the test failure:

https://travis-ci.org/iainbeeston/cuprite-test/builds

[2019-01-25 09:10] iainbeeston commented on #37
I wonder if in index.js Cuprite should avoid calling `JSON.stringify` directly, but convert it's NodeList to html first, then back to a NodeList, so that it only serializes the html of the nodes, not any other properties that might have been added to it at runtime...

[2019-01-25 09:57] iainbeeston commented on #37
Actually, I'm thinking that now if `JSON.stringify` could be called with a custom replacer argument, that filters out anything that is not an `instanceof Node`. That might work.

[2019-01-25 12:13] route commented on #37
@iainbeeston  thanks for the application, could you please set env CUPRITE_DEBUG=true so that we can see devtools protocol, that should ease it a lot

[2019-01-25 14:00] iainbeeston commented on #37
@route I've done that now. You should be able to see the output on Travis.

FYI You can reproduce locally on any web page using react, if in the developer console you call `JSON.stringify(document.querySelectorAll(<SELECTOR_FOR_REACT_COMPONENT>))` (this is the equivalent to what `Cuprite.isCyclic()` is doing)

[2019-01-25 15:47] route commented on #37
Thank you. Could you please try returning something like `return to.is_a?(Hash) ? "(cyclic structure)" : ["(cyclic structure)"]` from there [runtime](https://github.com/machinio/cuprite/blob/master/lib/capybara/cuprite/browser/runtime.rb#L148)
would your test pass? or it' doesn't make any sense

[2019-01-25 16:14] iainbeeston commented on #37
I don't think that makes sense - that would resolve the error thrown above by returning an array, but the underlying issue is that Curprite cannot serialize elements on the page created by react, and so specs cannot interact with or make assertions about react components.

[2019-01-25 16:48] route commented on #37
@iainbeeston the thing is even in poltergeist it wasn't possible https://github.com/teampoltergeist/poltergeist/blob/38b1128c8c51fbeef9bfd2f8cf3cb9b2629a0272/spec/integration/session_spec.rb#L534 the object was returned but partially. I used to have code that made that test passing but it was too annoying because every time you ask chrome for an object it returns new one no matter the object is th

[2019-01-25 16:49] iainbeeston commented on #37
I see!

I have an idea for this, though it might not work. I'll see if I can try it over this weekend

[2019-01-25 16:51] route commented on #37
@iainbeeston how did this test work on selenium?

[2019-01-25 17:31] Valve commented on #20
thanks @iainbeeston !

[2019-01-25 17:31] #20 closed

[2019-01-25 17:32] iainbeeston commented on #37
@route It works perfectly on selenium. I've duplicated the same example and made it run with selenium on travis and it passes. (I tried to do it with poltergeist too but I couldn't get poltergeist to work with react because it needs a number of javascript polyfils)

[2019-01-25 18:07] route commented on #37
Got it, I need to take a look closer seems pretty serious. Finishing full support of `send_keys` right now

[2019-01-25 18:10] #31 closed

[2019-01-25 18:44] iainbeeston commented on #37
@route I might have a solution. Can you explain to me why cuprite needs to check whether an object is cyclic at all?

When I read the code, it looks like Cuprite checks whether an object is cyclic before it calls `Runtime.getProperties()` (which is in the chrome API) to get the javascript properties of an object. If it is cyclic, `Runtime.getProperties()` is never called. But so long as `Runtime.g

[2019-01-25 18:55] route commented on #37
@iainbeeston what about this test `ignores cyclic structure errors in evaluate_script`? it should exhaust stack frame recursively if you remove cyclic check.

[2019-01-25 19:02] vizcay commented on #31
@route works like a charm.. 🎉 I have a few issues to close on my side and I will be able to submit a complete comparison betweeen chromedriver, selenium firefox, poltergeist and cuprite with an application that has 886 feature specs!

[2019-01-25 19:33] route commented on #31
@vizcay nice! what are those issues?

[2019-01-25 20:17] iainbeeston commented on #37
@route Yes - if I leave that test in, it recurses infinitely (in ruby) then crashes once the maximum number of stack frames is reached. However, the test is a strange one - the `isCyclic` check is only ever run on `NodeList` objects, but the test does not use a `NodeList` - instead it uses a plain old javascript object. Ideally it should test a `NodeList` from a real web page, but I can't think of

[2019-01-26 14:49] vizcay opened #38 "Capybara::Node::Element#click not working"
I have a bunch of tests (~25) that depend on this functionality (working flawlessly with Geckodriver, Chromedriver and PhantomJS), and are failing with:

But has nothing to do with a timeout, looks like the`#click` method is not working because If I debug before the failing line and do `find('#elemet_id')` or `find('.element_class')` the node is returned.

For example this happens with this helper

[2019-01-27 09:16] thbar opened #39 "Is proxy supported?"
I'm trying to configure `cuprite` in a way that would use [puffing-billy](https://github.com/oesmith/puffing-billy) as a proxy (this is useful to mock any request, including external ones like Stripe or Recurly).

I attempted to do this:

[code]

Apparently the call to `set_proxy` raises a `NotImplementedError`.

Is this expected?

Many thanks!

[2019-01-27 17:09] jmgarnier commented on #31
@vizcay Nice :) would you mind adding a comment to this issue with the link of your comparison please?

[2019-01-28 08:59] route commented on #37
@iainbeeston I guess we can just drop this check on NodeList as it is like an Array but has nodes as elements and for elements we use internal representation supported by devtools protocol like `"{\"injectedScriptId\":2,\"id\":25}"` so it never be cyclic unlike array which can have a reference to itself: `a = []; a.push(a)`

[2019-01-28 09:00] route commented on #37
Just pushed commit https://github.com/machinio/cuprite/commit/41c18848431ecf4a234e197429861e722db81cef your test is passing

[2019-01-28 09:03] route commented on #39
@thbar I can add proxy support pretty quick but there's one downside you can set it only when browser starts and there's no way currently to change it on fly, as Chrome doesn't support it https://github.com/cyrus-and/chrome-remote-interface/issues/152

[2019-01-28 09:05] thbar commented on #39
@route is the browser starting one per test suite? Or instead (as I assume) once per test? If it's once per test, it's perfectly acceptable as a limitation (& not causing any trouble in my case at least).

[2019-01-28 09:36] thbar commented on #39
To clarify: I use multiple drivers in this test suite: one is `custom_billy` (specs are tagged with `driver: :custom_billy), and these ones are all using a proxy. The other one will be a "regular" cuprite, so a différent driver instance etc.

If I understand well this means that each "driver type" will start a browser once, and it will be fast enough.

In all cases, I can provide feedback if you i

[2019-01-28 09:37] iainbeeston commented on #37
@route That's a good solution.

The build on my branch was passing because I was using a fork of cuprite that had the cyclic check removed. However, I have updated it to use cuprite master now (with your fix) and it passes. I'll close this issue.

Thanks for your help!

[2019-01-28 09:39] route commented on #39
@thbar in fact we needed proxies too, this was the beginning of `cuprite` we wanted too many exotic features :) will roll it out in an hour or so I think ;)

[2019-01-28 09:41] route commented on #37
Thanks for informing! That was a critical one I think!

[2019-01-28 10:02] iainbeeston commented on #37
@route I'm really sorry but I'm going to have to reopen the issue because I've founda nother situation where it happens 😞

It seems that if I use capybara's `click_on` method, to click a link that is rendered by react.js, I still see the original issue. It seems that the fix does not work with `click_on`, because with `click_on` we have an `Array` of `Node` objects, not a `NodeList`. I haven't bee

[2019-01-28 10:11] iainbeeston commented on #37
@route I've made a proposal for a fix to this in #40 - where I make sure `find()` always returns an array of `Node`s and made `isCyclic()` always return false for this case. For me that handles both the original test failure (for finding text on the page rendered by react.js) and the new test failure (using `click_on` with links rendered by react.js)

[2019-01-28 10:19] route commented on #37
Haha) no problem, looks good to me anyway!

[2019-01-28 10:19] #37 closed

[2019-01-28 10:37] iainbeeston commented on #37
Cool, thanks!

[2019-01-28 10:52] route commented on #39
I pushed changes https://github.com/machinio/cuprite/commit/9ddeddf82d683412c3cd47c3af650fb697487fc1 for basic support, though it is missing auth and runtime proxy rotation

[2019-01-28 10:53] route commented on #38
@vizcay could you please run your test with `CUPRITE_DEBUG=true bundle exec rspec ...` option turned on?

[2019-01-28 10:54] thbar commented on #39
@route thanks! I will try this out & will report back.

[2019-01-28 14:47] vizcay commented on #38
@route sure! Wasn't able to upload here because it was more than 64k.. I've send it to your personal email.

[2019-01-28 14:50] thbar commented on #39
@route I was able to set the proxy, and it mostly worked, but my suite is regressing for some weird reason at this point. I cannot pinpoint it exactly at this point, but will investigate!

I will still close, because I believe the proxy support is already in master & providing value as is. Thanks!

[2019-01-28 14:50] #39 closed

[2019-01-28 16:56] route commented on #38
@vizcay most likely you have an alert which you didn't handle with accept_confirm or dismiss_confirm after clicking at a.btn.btn-mini.retencion_ganancias_calcular
[code]

[2019-01-28 17:57] vizcay commented on #38
@route as a matter of fact, your are right. When I get the timeout is because there is an alert "blocking" the page. Now, since this doesn't happens with selenium (chromedriver o geckodriver both work fine on those tests) I did a little more research and reduced the problematic error to this:

[code]

Now the spec with cuprite hangs at the line `find('body').click` as described, because the alert

[2019-01-28 21:03] route commented on #38
I believe cuprite has the same behavior as poltergeist and I think it's correct. Filling in any given input not only should trigger blur after filling but also first of all focus an element as well as remove previous value, so it's a lot of additional work. I think it's complete and `find('body').click` is an extra in my opinion.

[2019-01-28 21:56] vizcay commented on #38
That's true, phantomjs works the same way (but it is not checking the alert it's open that cuprite is doing  right so the test passes). I will solve it by always using `force_blur_focus`:

[code]

Regarding which behaviour is better I'm not sure but IMHO trying to be as compatible as possible with selenium is not a bad idea. I will close this issue as the latter findings show that the find(xxx).cl

[2019-01-28 21:56] #38 closed

[2019-01-28 22:18] vizcay opened #42 "Capybara::Cuprite::BrowserError: "Cannot find context with specified id""
I have another set of tests that is failing always with the same structure, for example:

[code]
When starting to debug, first I tried to watch in which state was the page with `save_and_open_page` and to my suprise the test started passing (the same with `sleep 1`). Now the strange thing it that the report generation inside the spec is not that slow actually.

Anyway I've tried:
[code]
And is rai

[2019-01-29 05:19] route commented on #38
@vizcay poltergeist accepts all popups by default, cuprite doesn't and in chrome it results in stop the world behaviour that waits for action. I think instead of timeout error it would be nice to see an error about unhandled modal window. To stick with selenium or poltergeist is an open question if you have 5k tests that worked on poltergeist it will be easier to switch to cuprite if behaviour is

[2019-01-29 13:02] #11 closed

[2019-01-29 14:03] route commented on #42
@vizcay from the log I can see that there's a delay between clicking the last button and form submission so that in between we get the node with object_id which is invalid after submitting form as there's not such context and node anymore. That's intermittent issue, your test is running faster than action happens on the page. I'll try to reproduce this behavior with simple test.

[2019-01-29 15:02] #17 closed

[2019-01-29 22:14] thbar opened #44 ""set_proxy" doesn't seem to have an effect for external resources"
Similarly to what's happening on the `apparition` driver (https://github.com/twalpole/apparition/issues/2), and I presume for the same reasons (both use CDP afaik), if one uses `set_proxy`, and a given page includes external resources (e.g. a `<script>`, but probably also JSONP calls etc), these calls won't go through the proxy.

This can be problematic for instance if someone is using [puffing-bi

[2019-01-30 00:22] cromega opened #45 "Possible to use it for non-headless?"
Heya,

This is a pretty cool gem, I was wondering if the same protocol can be used for "classic", non-headless mode as well. The readme kinda makes it clear that this gem is for headless chrome but sometimes it's handy to be able to run a test with the full browser on, but as it is, I have to keep selenium and the whole shebang in the project just for that.

I know it's in an early stage, is it pl

[2019-01-30 05:55] twalpole commented on #45
@cromega I'm sure it will come soon, in the meantime feel free to check out https://github.com/twalpole/apparition which is a similar project that already supports passing a `headless: false` option when registering the driver

[2019-01-30 07:12] route commented on #45
@twalpole what is the difference? and why do you write it from scratch?

[2019-01-30 08:02] twalpole commented on #45
@route Haven't really looked through your code, so not sure what the difference is - I would guess not too much. I told you about my version when we were discussing the issues you were having on cuprite -- It was 70+ percent done so I released it and finished up most of the rest.

[2019-01-30 09:48] #21 closed

[2019-01-31 00:58] lstanden opened #46 "Screenshot raise exception"
Got this when attempting to screenshot.  A quick look at the code seems like this is indeed referring to a variable that doesn't exist.

[code]

[2019-01-31 08:53] route commented on #44
@thbar you can pass options to the browser as: `browser_options: { "ignore-certificate-errors" => nil }`

[2019-01-31 08:53] #44 closed

[2019-01-31 08:55] route commented on #42
I added some fixes to avoid intermittent issues. Feel free to reopen if you still have them

[2019-01-31 08:55] #42 closed

[2019-01-31 09:06] thbar commented on #44
Thanks!

[2019-01-31 10:12] route commented on #45
As both projects are written by 2 different people independently there's huge difference in the code. I don't think I have time or wish to merge them because it's huge amount of work. The common thing between them is only CDP that's all. Though Cuprite is already stable and supports all features that Capybara requires, we run tests and do many cools things with it in production.

Cuprite doesn't t

[2019-02-02 13:50] vizcay opened #47 "Capybara::Cuprite::BrowserError: "Invalid parameteres""
I've updated to latest ref and suddenly my full spec suite fails with an exception.

[code]

I've double checked going back to `00d3b2874066715be11d28a6e342209afd28398c` solves the issue. Tried to spot the problematic commit but no luck.

[code]

[2019-02-02 13:50] vizcay commented on #42
@route sorry for the delay cannot test it, my full suite is broken because of #47.

[2019-02-02 14:06] route commented on #47
@vizcay could you please once again run it with CUPRITE_DEBUG=true ?

[2019-02-03 14:01] lacostej commented on #47
I am running into similar issue, just trying cuprite for the first time.

The first cause was that I had an existing Chrome process up and the the process output was only containing:

"Opening in existing browser session."

(obtained by modifying process.rb into

        unless @ws_url
          puts output
          raise "Chrome process did not produce websocket url within #{timeout} seconds"

[2019-02-03 15:32] vizcay commented on #47
Sure @route:

[code]

[2019-02-04 13:16] Dark-Sun opened #48 "Can't connect to running Chrome browser session"
Environment:
`macOS 10.13.6`
`Google Chrome 71.0.3578.98`
`cuprite 0.4.0`
`ruby 2.5.0`

When running with the following options and already launched Google Chrome:
[code]

it raises
[code]

It seems ```Cuprite``` can't connect to running Chrome instance, since it outputs ```Opening in existing browser session``` instead valid `ws` url that could be connected to

[2019-02-05 00:11] lstanden opened #49 "Strange field reset issue"
Trying to find a good way to create a test case for this, but thought I'd ask for suggestions since I got a bit stuck.

 I have a test which does something like:

[code]

The line with `fill_in 'name'` is not throwing any kind of error, but the form field is blank when the submit button is clicked.

For context, I'm attempting to covert an entire test suite from poltergeist to cuprite.

Any sugges

[2019-02-05 01:18] vizcay commented on #47
[code]

@route looks like 068ebbd678is the culprit.

[2019-02-05 04:45] route commented on #48
Yea seems like there's some issue when Chrome is already running. I have to take a look, but PRs are always welcome ;)

[2019-02-05 04:47] route commented on #47
Guys do you have `Capybara.save_path` set at all? If it's nil then I think we can skip setting `Page.setDownloadBehavior` if it's Path or something then to_s is necessary. Feel free to send PR :)

[2019-02-05 09:38] lacostej opened #50 "rspec fail if CUPRITE_DEBUG is on"
Platform: Mac
Ruby 2.5.0
Chrome

[code]

[2019-02-05 09:55] lacostej opened #51 "rspec fails with 2 errors on Mac :)"
[code]

[2019-02-05 11:23] route commented on #51
That's on macos only, for some reason send keys for modifiers doesn't work properly on mac

[2019-02-05 14:39] niezbop opened #52 "rspec fails on Windows"
Hey!

Ran `rspec` on Windows (mingw64) and a few test broke:

[code]

[2019-02-05 14:50] route commented on #52
Thank you! Never ran it on windows.

[2019-02-05 14:52] niezbop commented on #52
No problem! We did have to fix a few things to get it to run in the first place though: https://github.com/DragonBox/cuprite/tree/wwtk_stable if you're curious (we're planning to open PRs for fixes)

[2019-02-05 15:31] niezbop opened #57 "Bringing back the "no-sandbox" process option"
I have had errors when running with a non parametrized user because of the no-sanbox option. Because we do not necessarily want to run with a configured user, I'm trying to get this implemented in the codebase, but I'd like your advise. Would it be good if it was an opt-out parameter in the process constructor?

[2019-02-05 16:53] route commented on #52
Does it work after merging your PR?

[2019-02-05 16:54] route commented on #47
@vizcay could u please check if it works now from master, I merged some PRs

[2019-02-05 16:59] route commented on #57
I think we need a general way to opt-out any option like --headless and so on, sounds good to me though for this one in particular.

[2019-02-05 17:01] route commented on #50
I've never seen it failing on any platform, are you on mac or windows?

[2019-02-05 18:46] lstanden commented on #49
Ok, I actually managed to debug this, so I know what's happening.

Basically this appears to be an interaction between React which isn't playing nicely.  It looks like the value is being set of the HTML element, however the onchange event isn't firing in React, which means the state is not being updated, leading to the field being reset when the component re-renders.

Normal usage of the form in a

[2019-02-05 19:06] lstanden commented on #49
Here is a Codesandbox which demonstrates the problem:
https://codesandbox.io/s/mo2okv31w9

[2019-02-06 00:47] lstanden commented on #49
I just updated the codesandbox with a solution courtesy of cypress https://github.com/cypress-io/cypress/commit/b38d028a60e07480ef63cf760c3f5c763e8a935f#diff-ed17d49edc10403752ba3d786a7512dbR33

Basically you need to call the native setter, which should then work with any framework (not just React).

[code]

[2019-02-06 01:09] route commented on #49
@lstanden would you mind opening a PR?

[2019-02-06 01:21] lstanden commented on #49
Was working on that since I found the fix.  Just opened.

[2019-02-06 07:00] lacostej commented on #50
I think the issue is that the logger is redirected when CUPRITE_DEBUG is on and the test is unable to read from the logger anymore.

[2019-02-06 07:03] lacostej commented on #52
I looked a bit at the failure.

Test #1 is caused because that test is platform specific, invoking a shell script that probably doesn't work on Windows. It might be better to rewrite it using some expectations and avoid invoking `::Process.spawn` altogether.

Test #2 not 100% sure yet.

[2019-02-06 07:04] #49 closed

[2019-02-07 00:16] lstanden commented on #57
FWIW you can enable no-sandbox.  This is what I'm using:

[code]

[2019-02-07 21:30] lstanden opened #61 "Capybara::Cuprite::BrowserError Cannot find context with specified id"
Getting intermittent BrowserError with cannot find context with specified id.

Some searches led me down a similar issue in puppeteer which was solved by adding a waitFor `networkidle2` (network almost finished requests).  I'm wondering if this error is caused by attempting to interact with the page too early, and we should wait for this `networkidle2` event.

[2019-02-08 00:21] route commented on #61
If you could paste debug info I would try to fix it ;)

[2019-02-08 05:59] lacostej commented on #57
@lstanden good to know! @niezbop maybe we just want to document this instead of adding more code.

[2019-02-08 06:38] niezbop commented on #57
Thanks @lstanden I think that is exactly what we need! I didn't realize we could configure Cuprite this way! I'm closing the issue

[2019-02-08 06:38] #57 closed

[2019-02-08 07:06] niezbop opened #62 "Non replicable test failure"
Heyo!

Related to #52 I'm running tests on my Windows machine to see if tests are still failing, and I have had a test fail, but not always:

[code]

Don't know if it's bad luck or something, but I wanted to let you know 🙂

[2019-02-08 07:09] niezbop commented on #52
Hey @route !

Just ran the tests on my machine, and the two issues are still here. Interestingly enough I stumbled onto a non replicable issue (see #62 as I was not sure if it was necessarily Windows related), but also onto a replicable one!

[code]

I'm really not sure why this one was passing before, I should be running in pretty much the same context.

[2019-02-10 01:19] vizcay commented on #31
@jmgarnier

https://www.reddit.com/r/rails/comments/aoz1i3/run_dont_walk_to_switch_to_cuprite_test_driver/

[2019-02-11 09:10] route commented on #50
I think if someone set logger we should prioritize it as they expect output to be there. They expect debug info to be in that IO so that CUPRITE_DEBUG is redundant as it eventually is the same but right on STDOUT

[2019-02-11 09:12] route commented on #50
Fixed in https://github.com/machinio/cuprite/commit/e8156509d36e45851e7ba500c801ebdcbabd7825

[2019-02-11 09:12] #50 closed

[2019-02-11 09:25] route commented on #62
@niezbop That's very rare intermittent issue, which is not possible by all means. I couldn't catch it locally but if you could catch it with `CUPRITE_DEBUG=true` env turned on it would be great, because Chrome should return at least one default target. Looks like race condition in Chrome.

[2019-02-11 09:36] route commented on #61
There's no such event in Chrome btw they made it up, but we try to catch any inconsistency if it happens. There are a couple of more places where it could be so debug info is needed to fix it. Feel free to open with debug information. Thanks!

[2019-02-11 09:46] route commented on #52
I think test 2) `Capybara::Cuprite::Driver raises an error and restarts the client if the client dies while executing a command` is platform specific I had a fight with it on Mac, but turned out to be bug in specific version of chrome and chromium. Try using latest chromium

[2019-02-11 09:48] route commented on #52
I need windows to play with all of it, but unfortunately travelling with laptop right now, so it will be no sooner than end of this month ;)

[2019-02-11 10:18] jmgarnier commented on #31
Thanks @vizcay ! Strange, when we switched from phantomjs / poltergeist to selenium  + chrome driver headless, we had faster (and less buggy) tests.

This is kind of subject which will be interesting for @thbar

[2019-02-12 06:22] lacostej commented on #52
@route WRT Windows, would it be useful to add an AppVeyor config? We've done it in some of our projects. E.g. See https://github.com/DragonBox/freshsales/blob/master/appveyor.yml

[2019-02-12 10:37] route commented on #52
@lacostej Dunno I think Travis also has Windows as an option it's just hard for me to debug anything remotely. I prefer playing with stuff locally.

[2019-02-12 11:22] gregoryduckworth commented on #48
I'm getting the same issue when running through a docker container.

[2019-02-12 11:33] route commented on #48
@gregoryduckworth  that's because in docker under root you have to pass no-sandbox option:

[code]

[2019-02-12 11:44] gregoryduckworth commented on #48
Thanks for the reply @route, however when I add in the `browser_options`, I seem to be unable to run the tests and get the following error: `no implicit conversion of Array into Hash (TypeError)`

[2019-02-12 12:03] gregoryduckworth commented on #48
Sorted it, just checked and noticed you mentioned `{}` instead of `[]`

[2019-02-12 12:54] gvinicius commented on #48
I'm facing the same problem. I do know what to do in order to solve this.

[2019-02-12 13:08] route commented on #48
I need more information other than that, browser version, full backtrace, options you are passing etc

[2019-02-12 13:18] gregoryduckworth commented on #48
Environment:
[code]

Driver:
[code]

Then it is failing after running a test and the after hook, so struggling to provide a stack trace.

[2019-02-12 13:27] gvinicius commented on #48
Environment:
[code]
Configs in `spec_helper`
[code]
Full stack of the error:

[code]

[2019-02-12 13:39] route commented on #48
@gvinicius Google Chrome 50.0.2661.102 outdated, install >= 71

[2019-02-12 13:41] route commented on #48
@gregoryduckworth could you please try to use master branch? `gem "cuprite", github: "machinio/cuprite"`

[2019-02-12 14:29] gvinicius commented on #48
@route I've just updated my chrome to 72, but it is with a different path from the older one and the gem does not recognizing its path even passing the `BROWSER_PATH` env var as it follows:

[code]
Error stack:
[code]

Do you have any idea to run it with the google chrome latest stable version? I use generally chromium instead of the default chrome, there is way to use chromium too? Thanks in adva

[2019-02-12 14:42] gregoryduckworth commented on #48
@route - still getting the same `Chrome is dead` or `Broken pipe` errors

[2019-02-12 14:59] gvinicius commented on #48
@route , @gregoryduckworth after upgrading chrome to the latest version (72), setting `BROWSER_PATH` env var correctly, the error is no longer happening to me.

[2019-02-12 15:43] route commented on #48
@gregoryduckworth I believe it's env related, does your test suite work without docker?

[2019-02-12 15:50] gregoryduckworth commented on #48
@route - Yeah it works fine without docker

[2019-02-12 15:53] route commented on #48
@gregoryduckworth could you please show all cmd flags you run chrome process on docker, take a look at https://github.com/machinio/cuprite/blob/master/spec/spec_helper.rb#L16

[2019-02-12 17:39] gregoryduckworth commented on #48
Thanks, I sorted it with the following change in my Dockerfile
[code]

[2019-02-13 12:11] route commented on #51
Merged your fix, so closing this. Thanks!

[2019-02-13 12:11] #51 closed

[2019-02-13 12:18] route commented on #62
I think I'm gonna close it for now as it doesn't look like an issue in cuprite, though if you catch it especially with debug option again please submit the log file. Thank you!

[2019-02-13 13:07] #48 closed

[2019-02-13 13:14] route commented on #48
@Dark-Sun fixed your original issue. I think it's almost time to release 1.0

[2019-02-24 13:45] dreyks opened #67 "drag support?"
I can see the skipped specs so it's definitely on the radar. Any specific plans/drafts? I might take a stab at this if time allows

[2019-02-24 14:21] route commented on #67
No timeline yet, PRs are always welcome :)

[2019-03-01 08:19] samstickland commented on #61
I'm also hitting this issue, but it's random in occurrence on a large test suite.. Any idea how to get debug issue for the problem in this scenario?

[2019-03-01 08:40] route commented on #61
@samstickland try to run your test suite with `CUPRITE_DEBUG=true bundle exec rspec` and if test fails submit output here, I'll take a look

[2019-03-06 22:35] ianks opened #70 "Shared chromium process / debugging client"
Currently, cuprite will spawn a new chrome process on every invocation. Typically, this is perfectly fine. However, when running parallel tests, it begins to become a performance bottleneck, since each process has to spawn a brand new version of chrome.

Since chrome 63, [devtools has supported multiple debugging clients](https://developers.google.com/web/updates/2017/10/devtools-release-notes#mul

[2019-03-11 09:58] route commented on #70
I see a few issues here:

1) If one batch of parallel testing exits earlier than the rest I think it will trigger quit on the driver which in turn kill browser because it won't be aware of the rest batches. This will mess up the rest of the tests. If it won't kill the browser after ruby exits the browser would be left in memory which is not good too.

2) The protocol supports multi-client debuggin

[2019-03-13 18:08] gregoryduckworth opened #71 "Having issues trying to get CORS working"
When trying to get a test working which creates a request across two domains, the status received from the _other_ domain is a 403, however setting the browser options to `disable-web-security` doesn't resolve the issue and performing the same test in a browser manual works without any issues.

Is there something radically different in the way Cuprite handles CORS?

[2019-03-14 06:13] route commented on #71
@SeTeM did you try to write that test for CORS on headless Chrome?

[2019-03-14 07:05] SeTeM commented on #71
@route, no, I was working with CSP, not CORS

[2019-03-14 07:34] route commented on #71
@SeTeM oh sorry, confused

[2019-03-14 07:36] route commented on #71
@gregoryduckworth cuprite by default sets `disable-web-security` did you try removing it?

[2019-03-14 07:40] route commented on #70
@ianks I'm gonna close it for now, feel free to share your thoughts with us if I'm wrong I might have missed something.

[2019-03-14 11:25] gregoryduckworth commented on #71
@route - I've tried setting the `disable-web-security` to true in the `browser_options` when registering the driver but still no luck.

[2019-03-14 13:53] vermaxik opened #72 "Capybara::Cuprite::DeadBrowser with a new version of Chrome 73"
Hallo,

With a new version of [Google Chrome](http://chromedriver.chromium.org/downloads), I have the same issue as here https://github.com/machinio/cuprite/issues/48

Environment:

- Debian GNU/Linux 9.8 (stretch)
- Google Chrome 73.0.3683.75
- Google Driver 73.0.3683.68
- cuprite 0.5.0
- ruby 2.5.3

` Got 0 failures and 3 other errors:

          Capybara::Cuprite::DeadBrowser:
            Chrom

[2019-03-14 14:12] route commented on #72
Works just fine with new browser on my machine. Could you please run tests with CUPRITE_DEBUG=true?

[2019-03-14 14:14] route commented on #71
@gregoryduckworth I'll take a look if you can provide an isolated test

[2019-03-14 14:32] vermaxik commented on #72
I'm using docker contrainer with `no-sandbox` options

[code]

[2019-03-14 14:37] route commented on #72
Yea looks fishy, I see you are using black or whitelisting, try to turn it off for a test, any better?

[2019-03-14 14:42] vermaxik commented on #72
Yes, use blacklists, but turning off not helping:

[code]

[2019-03-14 14:53] route commented on #72
@vermaxik that's pretty weird I see no events at all after `{"method":"Page.navigate","params":{"url":"http://127.0.0.1:45389/companyslug-2"},"id":15}` there must be plenty of them about rendering network stuff and so on, but it's empty. Do you have `frame_url` in your test? Could you please show the test itself?

[2019-03-14 15:08] vermaxik commented on #72
No `frame_url `,  and it's really wierd, because yesterday everything works and today with a new version on Chrome everyspecs go down.

Cuprite configration:

[code]
Spec example:

[code]

[2019-03-14 16:09] vermaxik commented on #72
Just tried an unstable version of chrome: `Google Chrome 74.0.3729.6 dev` and all specs works again without any changes

[2019-03-14 16:48] route commented on #72
@vermaxik Unfortunately I cannot reproduce it on my machine, if you could write an isolated spec I could try to hunt this down. But all looks like the version 73 is buggy indeed

[2019-03-15 12:22] vermaxik commented on #72
@route thanks a lot for helping.
We are webmock in this app and  I'm assuming this is an issue with Chrom 73.  I tried Chrome 73 build in another app without webmock and it works. I'll let know if find a solution to make it workable with webmock.

[2019-03-15 12:32] route commented on #72
Got it thanks!

[2019-03-15 12:32] #72 closed

[2019-03-16 00:46] ianks commented on #70
@route Sorry for the delay, busy week. Thanks for taking the time to respond in detail :smile:

Yes you are right. However, in this case the leader node should be responsible for maintaining the browse state, rather than each individual test worker. I would require some decoupling of Browser <-> Process (https://github.com/machinio/cuprite/blob/master/lib/capybara/cuprite/browser.rb#L246) but I th

[2019-03-18 09:55] caifara commented on #61
I've seen this error on our CI pop up now and then in the past weeks. Just reporting as the issue is closed while the error still regularly (but randomly) occurs.

[2019-03-18 11:56] route commented on #61
If someone provides output with debug info I will gladly take a look :)

[2019-03-18 12:00] route commented on #61
I'll try my best to hunt it down. Tests must be stable

[2019-03-18 13:39] caifara commented on #61
I'm also trying to get hold on some debug info. `CUPRITE_DEBUG=true` timed out my CI, so I'm trying with a specific test that knowingly failed on this problem and set it on repeat with rspec fail fast. Fingers crossed …

[2019-03-19 09:20] caifara commented on #61
Got some feedback. There's some application info in there so I've sent it through email. Hope you don't mind.

[2019-03-19 09:25] route commented on #61
Thank you, I'll take a look

[2019-03-19 09:38] route commented on #70
Sounds good with this architecture, do you want to take a stab?

[2019-03-21 11:24] gregoryduckworth opened #74 "Version bump?"
Is it possible to get a version bump, so we can pull down the `PROCESS_TIMEOUT` changes? Without having to reference github.

[2019-03-21 13:06] route commented on #74
@gregoryduckworth done, thanks

[2019-03-21 13:06] #74 closed

[2019-04-02 11:28] sfcgeorge commented on #61
Same issue. For me it seems to happen when waiting for an element to appear after an ajax request. AKA a remote form post causing validation errors to be added to the page `find('.errors')`.

Got the debug. There's a lot so here's just the last bit before the error:

[code]

And the same section of debug when there wasn't an error:

[code]

If you diff these you see they're mostly the same, but 1

[2019-04-02 13:42] sfcgeorge opened #76 "Attempt to unlock a mutex which is locked by another thread"
Switched a test suite with a few hundred specs to Cuprite, mostly working fine (well done and thank you!)

There's 1 weird error we get. The spec passes normally, but if we turn on `js_errors: true` we get this:

[code]

Mutex seems like a Ruby thing not a JS thing, yet a JS error is being raised. And the JS error is just the letter "r"?

The scenario is just logging in, being redirected to the da

[2019-04-02 15:15] route commented on #61
@sfcgeorge these logs don’t show the issue unfortunately, do you have full log of failing test that you could share with us or with me privately?

[2019-04-02 15:42] route commented on #76
Yea that's weird, do you `js_errors: true` set?

[2019-04-02 17:53] sfcgeorge commented on #76
Yep that's what I mean, I get this issue with `js_errors: true`, with `js_errors: false` the spec passes fine. Or with the rescue it passes as well.

As it's just 1 page it could be something specific to our app, but I thought I'd open the issue in case anyone else gets the same error and googles it.

[2019-04-02 17:55] sfcgeorge commented on #61
@route Prior to that there's a big blob of JS being loaded into the page, and a lot of other stuff. I'll email it all anyway.

This error is actually happening intermittently all over out suite, anywhere with ajax modifying the page. Happens more in CI than locally, I assume because my laptop is fast and CI is slow.

I see there's already some code specifically to handle this error https://github.

[2019-04-04 00:39] baxang commented on #72
I had the same issue with Google Chrome 73.0.3683.86. Thanks for the issue report - this saved my time understanding what the cause was.

[2019-04-04 22:52] Billiam commented on #61
I've been running into this as well, when submitting a form and setting an expectation about css or content on the page after a reload.

If I add a loop, waiting until the capybara session's body contains a target value, before checking that expectation, bypassing the capybara synchronize + cuprite find/wait that should be doing this already, my tests pass. ex:

[code]

will fail with the `Cannot

[2019-04-11 15:13] gregoryduckworth opened #77 "Chrome process did not produce websocket url within 1 seconds (RuntimeError)"
Even after updating the cuprite declaration (as seen below) we still get the error `Chrome process did not produce websocket url within 1 seconds (RuntimeError)`

[code]

Is there some configuration missing?

[2019-04-11 15:52] route commented on #77
@gregoryduckworth what is you OS? Do you have Chrome in $PATH?

[2019-04-16 08:06] route commented on #77
Can't help without additional info.

[2019-04-17 14:44] pedantic-git opened #79 "Capybara.default_host and Capybara.app_host don't set the Host header"
Hi Machinio - thanks for a great driver!

In switching from Selenium I note that I can't use Capybara.default_host or Capybara.app_host to ensure the Host header is set correctly. My app responds differently depending on which hostname is used so it misbehaves with the cuprite driver.

Are there plans to introduce this feature? I could have a go at fixing it myself but I've had a browse of the cup

[2019-04-17 16:29] route commented on #79
Hi @pedantic-git thanks for kind words! Could you please show the scenario and failing test, it should work very well I guess. We implemented everything Capybara requires.

[2019-04-18 14:36] zuburqan commented on #77
I am having the same issue, the environment is:

OS: 4.1.12-61.1.28.el7uek.x86_6 (RHEL 7)
Browser: Chromium v73.0.3683.86
Chromedriver: v73.0.3683.86

Chromium and chromedriver is already in the $PATH

Configuration is:

`
Capybara.register_driver :cuprite do |app|
  options = {window_size: [1440, 900]}
  options[:headless] = false if ENV["CUPRITE_HEADLESS"] == "false"
  options[:slowmo] = ENV["CU

[2019-04-18 14:39] zuburqan commented on #77
I am having the same issue, the environment is:

OS: 4.1.12-61.1.28.el7uek.x86_6 (RHEL 7)
Browser: Chromium v73.0.3683.86
Chromedriver: v73.0.3683.86

Chromium and chromedriver are already in the $PATH

Configuration is:

[code]

[2019-04-18 15:59] route commented on #77
@zuburqan did you also try to increase process_timeout?

[2019-04-18 17:12] n-rodriguez opened #80 "Browser hang when running single test file"
For example:

When running `bundle exec rspec spec/system/back_office` tests run

but when running `bundle exec rspec spec/system/back_office/customers_spec.rb` it runs the first test then it hangs forever.

[2019-04-18 18:04] route commented on #80
Sorry but without CUPRITE_DEBUG it will be fortune-telling, please run your tests with `CUPRITE_DEBUG=true bundle exec rspec spec/system/back_office/customers_spec.rb` and send the output. Thanks!

[2019-04-19 12:01] pedantic-git commented on #79
My apologies - I just tried to reproduce this in a clean environment and it worked fine. It must have been my error somewhere. Please ignore me!

[2019-04-19 12:01] #79 closed

[2019-04-19 13:04] route commented on #79
Ok haha, thanks)

[2019-05-08 09:15] gregoryduckworth commented on #77
Sorry about the slow reply, I've had this in docker using the versions:
[code]
and can confirm that it is in the $PATH.

[2019-05-08 09:37] route commented on #77
@gregoryduckworth there's one remark in README now for docker https://github.com/machinio/cuprite#running-in-docker

[2019-05-15 09:44] gregoryduckworth commented on #77
Thanks! Working now.

[2019-05-15 09:44] #77 closed

[2019-05-17 07:04] #70 closed

[2019-05-17 07:12] route commented on #61
Could someone try this branch out and let me know if it was fixed?
`gem "cuprite", github: "machinio/cuprite", branch: "61-missing-context"`

[2019-05-17 07:13] #80 closed

[2019-05-17 09:12] samstickland commented on #61
I've just tried this branch out and unfortunately I am seeing these errors:

[code]

[code]

[2019-05-17 10:20] samstickland commented on #61
Interesting running with Capybara 3.18.0 only produces
"Capybara::Cuprite::BrowserError: Cannot find context with specified id"

Running with Capybara 3.3.1 produces a mix of
"Capybara::Cuprite::BrowserError: Cannot find context with specified id"
and "Capybara::Cuprite::BrowserError: Could not find node with given id"

Sam

El vie., 17 de may. de 2019 a la(s) 08:12, Dmitry Vorotilin (
notificatio

[2019-05-20 10:57] gregoryduckworth opened #83 "Add ability to specify ssl certificates"
In our development environment we have certificates to allow us access to some things we want protected. It would be great if this functionality could be supported (https://github.com/ariya/phantomjs/blob/466ae257a91a88200976e81f0668dc309329e518/src/config.cpp#L76-L78)

[2019-05-23 13:54] wojtha opened #84 "Capybara::Cuprite::Browser::Targets#targets is sometimes empty during Browser init"
Hello!

We are experiencing flaky tests on at least 2 local dev machines because of `Capybara::Cuprite::Browser::Targets#targets` being empty. However we are not experiencing this on our CI server (Codeship). (So perhaps it could be somehow environment / Chrome version related...)

It blows up during first touch with `page.browser`. Previously we have had `page.driver.browser.url_whitelist = ['127

[2019-05-26 08:52] TemaMix commented on #62
@route I wonder if you could possibly help me or give some advice. It seems  I have a similar issue with a gem is based on the cuprite 0.6.0.  And I have some tests where this issue appears regularly.  When I run this with ``` CUPRITE_DEBUG=true``` I have got the following result:
[code]
[code]

Maybe, I do something wrong, but such errors appear constantly.
If you have time you can take a look at

[2019-05-30 21:28] ximus commented on #76
i think i had such a cryptic mutex error myself. I had tracked it down. The issue for me occurred when the page took longer than cuprite `timeout` configured, then i would throw such an error.

It's a little far for me to remember correctly, but I had reproduced it by create a fresh rails app, then putting an infinite `sleep` in a controller action then trying to load that action using cuprite.

[2019-05-31 06:25] route commented on #62
Hi @TemaMix do you use windows too?

[2019-05-31 06:27] #84 closed

[2019-05-31 07:34] TemaMix commented on #62
@route Nope, I have launched it inside Mac OS or Linux inside Docker.

[2019-05-31 10:43] route commented on #62
I just merged one fix related to this issue, could you try using cuprite from master? Does it resolve the issue?

[2019-05-31 15:05] route commented on #84
Thank you @wojtha !

[2019-05-31 17:44] route commented on #76
@ximus mind creating a repo so I could take a look?

[2019-05-31 18:23] ximus commented on #76
https://github.com/ximus/cuprite-mutex-error-poc

[2019-06-03 16:51] caifara commented on #61
I've taken another look at this after I found a way for a test to fail consistently.

Situation:

* page contains a remote form
* test contains something like:

       click_button "submit" # no problem
       expect(page).to have_content(…)

Solution:

The expect call lets cuprite insert a javascript snippet in the page _just before_ the ajax call. Thus losing the context once the ajax call gets

[2019-06-03 19:55] TemaMix commented on #62
@route, Thank you for your rapidly answer.
I rerun tests from cuprite (master). However, the previous error is disappeared, but another error has appeared:
[code]

[2019-06-04 04:42] route commented on #62
What browser version do you use? I've never seen it failing that constantly ;)

[2019-06-04 17:25] TemaMix commented on #62
I use Chrome with Version 74.0.3729.169 (Official Build) (64-bit). I have seen a capybara issue regarding Chrome 74 (https://github.com/teamcapybara/capybara/issues/2181) and rerun tests with these options, but errors are the same.

[2019-06-05 05:16] route commented on #62
@TemaMix just out of curiosity did you try Chromium or other versions?

[2019-06-05 11:56] TemaMix commented on #62
@route Thank you for your advice. It is worked! Hm, I will wait for the next Chrome version if it is one way.

[2019-06-05 16:42] route commented on #62
@TemaMix no problem, glad it worked!

[2019-06-05 16:42] #62 closed

[2019-06-19 10:56] shelkem commented on #61
I can confirm that using `gem "cuprite", github: "caifara/cuprite", branch: "missing-context"` solved the issue for me.

[2019-06-27 15:07] andyryan opened #86 "Chrome process did not produce websocket url within 1 seconds (RuntimeError)"
I am trying to run Cucumber tests using cuprite for Capybara with the following set up

[code]
However I get the error

I first tried to work around this by setting `process_timeout` to 30 seconds, but recevied another error (in less than 30 seconds)

So i set the `timeout` option to 30 (supposedly the default) and everything works correctly.

So i'm not sure if this is a problem with defaults or

[2019-06-28 08:58] route commented on #86
@andyryan do you run your tests in Docker?

[2019-06-28 09:08] andyryan commented on #86
no, this is just on my local machine

[2019-06-28 09:46] route commented on #86
`no-sandbox` is only for docker so you can skip it. `headless` and `disable-gpu` should work by default. So looks like you don't have to pass any, did you try removing them all? Maybe `js_errors` has a bug I heard about mutex locking error in another issue bu didn't have time to check it. Could you please get rid of all of them and try if it works and then add one by one triaging the issue

[2019-07-02 21:50] nmagedman commented on #61
Ditto @shelkem.  @caifara's patch works around the problem.  Further, it always succeeds on the _first_ retry attempt.

[2019-07-02 22:24] samstickland commented on #61
Using `gem "cuprite", github: "caifara/cuprite", branch: "missing-context"` I still get:

[code]

[2019-07-03 08:33] TemaMix opened #87 "Is remote access to chrome supported?"
I can't find any roadmap so decided to ask this question. I want to separate a main application and chrome to different docker containers therefor it is required a remote control under chrome, but I can't understand how to set up cuprite's configuration.
Could you please give me advice may be I something miss?

[2019-07-03 09:31] route commented on #87
@TemaMix yes we merged it in March. Is that what you are looking for? https://github.com/machinio/cuprite/issues/70
https://github.com/machinio/cuprite/pull/75

[2019-07-03 09:36] route commented on #87
In general you have to pass a url to cuprite and it won't spawn the process but instead will rely on existing one:

[code]

[2019-07-03 13:42] TemaMix commented on #87
Hi @route,

Thank you for your answer! It's really great work!)

Could you please give more information about your release plans when you are going to publish gem with last changes on RubyGems?

[2019-07-03 13:47] route commented on #87
I guess the only thing that bothers me is https://github.com/machinio/cuprite/issues/61
After coming up with some good solution I think there's nothing big to fix and we can release

[2019-07-03 13:48] route commented on #87
Closing this then if you found what you need

[2019-07-03 13:48] #87 closed

[2019-07-07 07:46] nmagedman commented on #61
@samstickland Can you get a stacktrace to see where the exception is coming from?  @caifara's patch only deals with Browser#find_all, but the race condition he describes can certainly exist elsewhere.

[2019-07-07 08:21] nmagedman commented on #61
@route Your patch in 61-missing-context (0838d6bdfbde06effe5392f9d842cfa07796483f) looks meaningless.  It catches a BrowserError exception but _always_ just re-raises it.  What was your intention?

[2019-07-08 08:36] route commented on #61
@nmagedman while @caifara patch https://github.com/caifara/cuprite/commit/e8efad9f48f86058995fb848bfae9c54491652b8 works it only does so for `find_all` method, in fact such issues with missing context or node can happen in between even internal calls of Cuprite. For example Runtime#evaluate or #evaluate_on it may send a few commands to Chrome in order to get the value and node may disappear in bet

[2019-07-08 08:56] nmagedman commented on #61
My point was that it *always* re-raises, regardless of the error message.  The code
[code]
is a no-op.  The current code is
[code]
Regardless whether e.message is A, B, or C, we raise.  So AFAICT the patch has no effect.

[2019-07-08 15:28] route commented on #61
Where do you see this code?

[2019-07-08 16:06] samstickland commented on #61
@nmagedman Here's a stacktrace:

[code]

[2019-07-09 06:38] nmagedman commented on #61
[code]

[2019-07-09 06:50] route commented on #61
@nmagedman It should have been one if statement instead of 2 you were right.

[2019-07-09 07:16] nmagedman commented on #61
@samstickland As I said before, @caifara's patch only deals with Browser#find_all.  It's a proof-of-concept (applied to one particular code path) that just hints at what needs to be done.  There are other code paths that can also hit this bug.  e.g. Your test calls `visible?` (whether directly or indirectly), which also hits this same problem but was not patched.

I don't have enough of a big-pict

[2019-07-09 14:12] caifara commented on #61
@route (and all)

As I understand it, this problem and the conversation here is about the lack of understanding of the responsabilities of the driver vs those of capybara itself.

@route is telling us that while proposed solutions try to recover from these errors, this is in fact Capybara's job.

The job of the driver is only to announce to Capybara what errors may stem from asynchronicity problem

[2019-07-23 20:48] route commented on #86
Needs feedback, closing

[2019-07-23 20:48] #86 closed

[2019-08-03 23:28] luizsanches commented on #61
@caifara I used https://github.com/caifara/cuprite/blob/missing-context-2 and it worked for me on the project https://github.com/tasafo/palestras-coletivas/commit/0da56cff303b5dffda6e28d8fc09d619a65b9df6. Thank you!

[2019-08-22 09:32] miks commented on #61
Had same issues with `Capybara::Cuprite::BrowserError` and was solved by using @caifara `missing-context-2` branch.
Is it possible to merge those changes to cuprite repository and make new release?

[2019-08-24 02:03] mateusg opened #90 "Non-HTML response not being handled properly"
Hi!

I've been running into an issue where a button, a link or a form in my Rails application makes an Ajax request to the server and expects a JS response (a form `remote: true`). The problem is that when the response reaches the browser, the JS code is not being executed, it's being displayed on the screen as if it was HTML.

I was expecting rails-ujs to handle the response, but apparently cupri

[2019-08-26 15:29] route commented on #61
I wanted announce some great changes in my opinion. I've been thinking about it since I was working on Poltergeist but now I feel that people need it even more. Cuprite and Capybara are for tests right? People use it when they need to crawl sites as we do, but you don't need Capybara to do that. In fact it makes things less obvious with all the stuff it has under the hood.

1) I want clean API to

[2019-08-26 16:16] miks commented on #61
I tried and got:
[code]

[2019-08-26 16:28] route commented on #61
@miks could you please run it with FERRUM_DEBUG=1 and show me logs?

[2019-08-26 16:42] route commented on #61
@miks never mind my request, with all that concurrency refactoring I missed exact the point of error, I'll update and let you know guys.

[2019-08-26 16:42] miks commented on #61
Ok, I'm ready to re-test this.

[2019-08-27 10:04] route commented on #61
@miks or anyone else please test this again:
[code]

[2019-08-27 11:32] miks commented on #61
Still same error

[2019-08-27 11:44] route commented on #61
No way... @miks I really want to tackle down all cases where it can appear, I think I did but without logs it is very difficult. Could you please run it with `FERRUM_DEBUG=1 rspec bla bla` and send me the log file to `d.vorotilin@gmail.com`? Thanks in advance I'm fully on this issue now!

[2019-08-27 12:03] miks commented on #61
@route sent

[2019-08-28 07:31] senid231 commented on #61
Currently I've encountered same error using `0.6.0` release.

Thanks to this thread I've figured out that every time when I've got `Capybara::Cuprite::BrowserError Cannot find context with specified id` it means that browser was redirected to another page but code tries to find element on previous page an got context id mismatch.

pseudocode example:
[code]

so what we need to do is to add `3a` st

[2019-08-28 07:33] senid231 commented on #42
looks like issue similar to #61
please take a look at https://github.com/machinio/cuprite/issues/61#issuecomment-525620849

[2019-08-28 11:57] route commented on #61
@senid231 While in general this extra step makes sense I think everything should work even without it
I would appreciate it If you try the repos I mentioned above, it should solve it.

[2019-08-28 22:10] nnc commented on #61
I also had this error with `0.6.0` and `ferrum` branch fixed it for me.

[2019-08-29 15:29] route commented on #61
In a couple of days there will be new release, it should fix this issue and other possible dead locks

[2019-08-30 11:15] sebyx07 opened #92 "Parallel specs"
Here is my capyabra integration with parallel specs:
it should work out of the box, maybe it's useful for others

[code]

[2019-08-30 11:16] sebyx07 commented on #70
Check https://github.com/machinio/cuprite/issues/92

[2019-08-30 11:38] route commented on #92
I guess if you shortly explain your setup we can add it to README, issues are for bugs :)

[2019-08-30 12:17] sebyx07 commented on #92
Sure, this can be used, with or w/o parallel_specs. I'm using it with docker.

`browser_options` contains flags from a previous integration with `chromedriver-helper`.

Then you need to increment the ports of `Capybara.server_port`(rails process) and the browser. `port: 9515 + test_env_number` that's pretty much it.

I've made a similar issue some time ago to help others in need https://github.com

[2019-09-01 14:48] szTheory opened #93 "Command line is really slow after debugging with page.driver.debug and exiting it"
If you set up a spec breakpoint with `byebug` or `binding.pry` and then launch the debugger with `page.driver.debug`, then exit it, when you are given focus back to the command line the keys are very laggy to the point of being unusable. Anyone else experienced this?

[2019-09-01 20:23] route commented on #93
That's interesting, I have to try it

[2019-09-03 13:16] route commented on #61
I'm gonna merge ferrum branch just after I see the build is green. Appreciate if you test it from the master before `0.7` release.

[2019-09-03 14:17] nmagedman commented on #61
I tested commit  e44745173b682c46e1f124bfa3c84f1320720944, which failed repeatedly with
[code]

Testing 39475d9b4250e23e33feada0371fab65540f550f, it failed several times with
[code]

I will email the logfile to you.

BTW, I see that you changed the logfile format from
[code]
to
[code]
However, I was viewing the output in Jenkins and the character encoding was off.  The eye-candy is not worth switc

[2019-09-03 14:39] route commented on #61
@nmagedman  sounds like you have to do `bundle update` if you have:
[code]

[2019-09-03 15:50] nmagedman commented on #61
I explicitly added ferrum to the Gemfile (I did not have it before) and ran
`$ bundle update cuprite ferrum`

Now running
- cuprite d460d632ecadd87e1436aa345c7f3a940ced6e17
- ferrum  035e6a4205e3148a07c09b43ec0a1a1dc351b6df

Still had 9 errors, all:

Logfile email privately.

[2019-09-05 06:45] senid231 opened #95 "rspec fails with Capybara::Cuprite::NoSuchWindowError on CI"
cuprite version 0.6.0
google-chrome-stable version 73
docker container

during rspec tests run  I've `execution expired` on some feature test
after that all other feature tests fail with `Capybara::Cuprite::NoSuchWindowError`
as result CI hangs for more than a hour and worker just kills it, so I don't have detailed logs about what's happened there. I on CI it fails randomly (aproximately once per

[2019-09-05 06:49] route commented on #61
Just landed, please check master branch
gem "cuprite", github: "machinio/cuprite"

[2019-09-05 06:51] route commented on #95
Let’s start with master branch, could you please try running cuprite from master?

[2019-09-05 08:32] senid231 commented on #95
@route thanks for quick response.
I've used master and got `Ferrum::NoSuchWindowError` on second CI run.

first test in suite fail with `Ferrum::NoExecutionContextError`
after that all test fail with `Ferrum::NoSuchWindowError`

[2019-09-05 08:37] senid231 commented on #95
BTW I'm using `rspec-retry` with following callback for proper session resetting
[code]

[2019-09-05 09:15] route commented on #95
@senid231 if you can run tests with logger debug that would ease the whole thing

[2019-09-05 11:36] senid231 commented on #95
@route I've send you debug log via email

[2019-09-06 20:47] lmansur commented on #92
I'm also running in a Docker environment.

Adding `--disable-dev-shm-usage` fixed all my issues. For my case (using Selenium) I didn't need to mess with the port.

[2019-09-10 19:08] lstanden opened #97 "url does not seem to pass through to Ferrum process"
Not sure if I'm doing something wrong here, but I've tried passing through the `url` parameter to Cuprite, and it still spawns the Chrome process.  If there's an error occurring, I can't see any output related to the said error, and it simply seems to just not respect the parameter.

[2019-09-10 19:51] route commented on #97
Hm it should have passed it, I’ll check tomorrow

[2019-09-10 20:23] lstanden commented on #97
Actually, never mind... looks like I was having issues getting it to load the correct versions in the Gemfile.  Problem solved.

[2019-09-10 20:23] #97 closed

[2019-09-19 11:06] route commented on #61
I consider it fixed, in the last release. Feel free to reopen or open new one if you've noticed something weird.

[2019-09-19 11:16] route commented on #76
@ximus @sfcgeorge I removed all possible deadlocks in the last release. Code is no longer uses plain Ruby mutex and condition var, we now use concurrent-ruby primitives, more over there's always timeout (5 seconds by default) for slow responses. Could you guys please check again that massive refactoring?

[2019-09-19 11:16] route commented on #95
Hey Denis do you still have issues with you test suit?

[2019-09-19 11:30] zkhan opened #99 "`intercept_request` not defined in Ferrum 0.4"
Using `url_whitelist` and calls to `visit` would result in an `NameError`

[code]

Locking to Ferrum 0.3 resolved the issue for me.

[2019-09-19 11:59] route commented on #99
Do you use cuprite from master?

[2019-09-19 12:00] zkhan commented on #99
Nope? Just from rubygems.org

[2019-09-19 12:02] zkhan commented on #99
OK, if it's been addressed I'll try again without locking, perhaps it was cuprite that needed an bundle update.

[2019-09-19 12:03] route commented on #99
@zkhan yep that should be it! Try to update both. Thanks

[2019-09-19 12:11] zkhan commented on #99
Double checked and 0.7.0 cuprite does not work with as described ferrum 0.4

[2019-09-19 12:16] route commented on #99
Thanks I'll take a look!

[2019-09-19 13:24] rogercampos opened #100 "Replace \t for " " ?"
I've been working recently on adopting cuprite in a big rails app. One thing that triggered many test failures was that the tab char is still present in the page body when asserting, for example:

     Failure/Error: expect(page).to have_text('TOTAL £ 239.18')
       expected to find text "TOTAL £ 239.18" in "Voucher successfully added\n+44 203 5148 622\nAccount\nCart\nCheckout\nOrder finished\nYo

[2019-09-19 13:36] egze opened #101 "Add CHANGELOG"
Please consider adding a changelog. It will be much easier to check what changed during gem updates.

[2019-09-19 13:47] route commented on #100
Hi @rogercampos, completely agree though perhaps it is better to do in index.js on JS. Sure go ahead!

[2019-09-19 13:48] route commented on #101
@egze Agreed, will add one. Thanks!

[2019-09-19 15:16] rogercampos opened #102 "Cuprite patches Ferrum"
I have a use case where in tests I want to use cuprite, while at the same time the app is using Ferrum directly.

In this scenario, when testing the app's code that uses ferrum this error is raised:

    undefined method `url_whitelist' for #<Ferrum::Browser:0x00007f8f09313978>

However, trying the app's code in dev mode it works fine.

This is because cuprite is mokey patching ferrum with `Ferrum

[2019-09-19 17:24] route commented on #102
Never imagined anything like that lol. I see no other way for now as both projects are in early stages, though I understand that it wasn't good design solution. Will try to fix it in the next release!

[2019-09-20 08:04] route commented on #99
@zkhan you are right I didn't release cuprite for the last changes made in ferrum. Doing it now, will be fixed in 0.7.1

[2019-09-20 08:05] rogercampos commented on #102
@route alright, thank you!

[2019-09-20 08:06] #99 closed

[2019-09-23 19:50] route commented on #76
@ximus I ran your application locally and it worked fine on both my machines:

[code]

Though mutex was fully eliminated from cuprite, if you guys could check that this error doesn't exist anymore I would appreciate it. Thanks!

[2019-09-23 19:50] #76 closed

[2019-09-23 22:42] ximus commented on #76
confirmed that toggling from `0.6.0` to `0.7.0` does fix the error. I know get:

[code]

interesting note. I initially wasn't able to reproduce this. Then I tried downgrading to the ruby version I used during my initial POC. Turns out I can't reproduce the original error at ruby `2.6.3` but only when i used `2.5.1`. Anyways, irrelevant now that mutexes are gone.

[2019-09-24 05:07] route commented on #76
Thanks I'm glad it worked!

[2019-09-26 11:33] route commented on #102
I'll keep it open until it's done

[2019-09-26 11:37] rogercampos commented on #102
sorry, unintentionally closed. Github did it as I wrote "fix #102" in that other (private) PR:

![Captura de Pantalla 2019-09-26 a les 13 37 24](https://user-images.githubusercontent.com/275992/65685663-cc44f980-e062-11e9-9e78-5df7b485cabb.png)

[2019-10-02 18:15] sfcgeorge opened #105 "On navigation No node with given id found"
Cuprite / Ferrum still seem to not quite handle navigation properly. For example in this spec I'm clicking submit on a form which navigates to another page. Sometimes it works, sometimes I get this error:

[code]

As you can see the expectation is just on `page` so there's no node for me to `find` again as the message suggests.

I guess Cuprite needs to wait for the next page to finish loading, or

[2019-10-02 18:25] route commented on #105
@sfcgeorge It should, do you have log file?

[2019-10-03 05:49] miks commented on #61
@route I updated to latest master both cuprite (https://github.com/machinio/cuprite/commit/6a8da810bb11ea8df13fc5120b393f821899f79e) and ferrum (https://github.com/route/ferrum/commit/d11a5169ffe6f81c11aa3acc037e4fa08466231f) and `Cannot find context with specified id` is happening again.

Tests were running fine with https://github.com/machinio/cuprite/commit/c212fea39e39c8a5b845616940b90cf24299a

[2019-10-03 12:13] vladimirtemnikov commented on #95
@route I have the same problem
Sometimes tests fail with `Ferrum::NoSuchWindowError`, not figured out why yet.

[code]

[2019-10-03 12:21] route commented on #95
@vladimirtemnikov there's even no such error in newest releases. You should try using master upgrade to latest versions both gems.

[2019-10-03 12:23] vladimirtemnikov commented on #95
@route thank you, I'll try!

[2019-10-03 14:04] route commented on #61
@miks I need log without it I can't help. Before rolling out new version we run tests for ferrum, then for cuprite and on our own build where we have ~7k specs. The issue can be so specific that it can be anything including test issue.

![Screenshot from 2019-10-03 15-32-32](https://user-images.githubusercontent.com/414803/66133643-adfd7180-e5ff-11e9-8560-d1cc8ee8b667.png)

[2019-10-03 17:19] miks commented on #61
@route  ok, I will try in next few days.

[2019-10-07 22:06] leschenko commented on #61
It seems that `Ferrum::Frame#execution_id` can hung "Runtime.executionContextDestroyed" event handler because of [`@page.event.wait`](https://github.com/route/ferrum/blob/master/lib/ferrum/frame.rb#L45) when frame with given `execution_id` is missing.
As a result we do not have actual `execution_id` for the `main_frame`.
I temporary fixed this with `frames.find { |f| f.instance_variable_get(:@exec

[2019-10-11 11:47] samstickland opened #106 "undefined local variable or method `main_frame' for #<Ferrum::Page:0x00007fac02a1cb00>"
I'm getting this on Cuprite 0.7.1 / Ferrum 0.5 *and* on master branches of both.

Also getting lots of:

[code]

but, in general lots more of the `main_frame` error message.

[2019-10-11 15:15] route commented on #106
Rollback for now, I'll fix it in the next release

[2019-10-15 08:39] miks opened #107 "js_errors does not raise in Ruby"
According to readme setting `js_errors: true` will result in ruby errors when there is any javascript error.
I don't get any ruby errors when javascript errors happen. Are there any other settings needed for this to work?

[2019-10-24 23:47] tilsammans commented on #105
I have the same. Cuprite is just too fast sometimes, does not wait for a response after a form submit. When I run the same test again, it often passes. There is no way to tell.

The pages in question might have Ajax on them, or not. It happens for me in both scenarios.

[code]

[2019-10-24 23:50] tilsammans commented on #105
Also, these other versions:

[code]

[2019-10-25 06:07] route commented on #105
@tilsammans do you have test and debug file? I can take a look but I need some data to figure it out

[2019-10-29 21:12] nnc commented on #61
I just upgraded from 1b733883924647d97e975f56cd9a2c107c766b8d and route/ferrum@afcc07f28c60762ee69d0deaa040c385a03ece82 to 88f28f0cfec4336be60355ae3bab20050757c427 and route/ferrum@f1e9676302d47b7eb89728a5ae517cf513b675a8 and got a bunch of ```Ferrum::NoExecutionContextError: Cannot find context with specified id```.

Temporary fix suggested by @leschenko resolved those errors.

[2019-10-30 05:09] route commented on #61
Yea looks like a bug. Could you guys send me the log file? I don't clearly understand why frame can be missing.

[2019-10-30 05:25] route commented on #61
Fixed and release bug fix, but log is still appreciated ;)

[2019-10-30 05:25] #61 closed

[2019-10-30 12:06] nnc commented on #61
Thanks @route. I emailed you the log file.

[2020-01-05 15:40] edlebert opened #110 ":logger option is dead"
There used to be a way to send console.log to stdout using CUPRITE_DEBUG.  That's now gone, but the README still references "debug output" sent to the ":logger", but I searched the code and the only place "logger" appears is in the README.

Can you clarify in the README the correct way to send console output to STDOUT?

[2020-01-05 17:34] edlebert commented on #110
Nevermind, I'm a moron.

[2020-01-05 17:48] route commented on #110
Thanks for catching, it’s now FERRUM_DEBUG but  I think we can alias. I’ll fix in the next release

[2020-01-05 21:22] edlebert commented on #110
poltergiest sent all console.log statements to STDOUT. Is there something similar for cuprite?

[2020-01-06 06:56] route commented on #110
Yes it's the same logger option, if there's logger you should see console output in there. Maybe you just missed it with tons of other lines. Here's implementation and example https://github.com/route/ferrum/search?q=console&unscoped_q=console

[2020-01-21 22:03] vizcay opened #111 "How to `send_keys` to current focused element?"
I'm and testing a complex application where I need to `send_keys` to simulate shortcuts user behaviour.

With `selenium-webdriver` we can do `page.driver.browser.action.send_keys([..]).perform` and it just works. Cuprite has a similar API?

The only thing we were able to do is `page.evaluate_script('document.activeElement').send_keys(keys)` but `evaluate_script` is taking a lot to return (maybe I

[2020-01-22 09:04] route commented on #111
It supports Poltergeist style, take a look at specs we have https://github.com/machinio/cuprite/blob/master/spec/integration/driver_spec.rb#L1262

No need to use `evaluate_script`

[2020-01-22 09:05] #111 closed

[2020-01-22 12:14] vizcay commented on #111
Hi @route, sorry maybe I wasn't clear enough with the original post but all the specs pointed work by selecting first the event target (input, textarea, etc) and that is precisely whay I'm trying to avoid as is complex and unnecesary in my case.

`page.driver.browser.action.send_keys([..]).perform` just sends the events to the currently focused element.

Let me show you an example where I need thi

[2020-01-22 13:30] route commented on #111
I believe there's no currently a shortcut for that because it is bound to a node, but the closest would be `page.driver.browser.keyboard.type("Hello")`

[2020-01-25 12:56] vizcay commented on #111
👍 Great. Worked as expected:

[code]

[2020-01-25 19:04] route commented on #111
Glad to hear that!

[2020-01-26 21:25] lawso017 commented on #19
@route Thank you for a fantastic library -- we have been working on upgrading a large Rails app from 4.2 and capybara-webkit to 5.0, and have found Cuprite/Ferrum to be pretty close to a drop-in replacement for capybara-webkit. We use too many JS features for selenium, and Apparition started with a ton of test failures [mostly due to timing issues](https://github.com/twalpole/apparition/issues/32#

[2020-01-27 08:06] route commented on #19
@lawso017 You are correct about the waiting, `Cuprite` indeed waits for some events to happen and only then proceeds and this happens for many methods not only `goto`. If you click or evaluate JS this can start page navigation and of course we have to wait until page fully loads.

As for speed I guess we had the same issues after switching from `Poltergeist`. I've seen that time almost has doubled

[2020-01-28 07:41] route commented on #101
Since now this gem uses https://github.com/route/ferrum this makes things harder to log, but I'll try closer to 1.0

[2020-01-28 07:41] #101 closed

[2020-01-28 12:42] #110 closed

[2020-01-29 03:07] lawso017 commented on #19
@route thank you for that context -- I also noticed that disconnect between individual tests running quickly, but the overall test suite being relatively slow by comparison. That's interesting and will continue to keep an eye on that for future exploration! In the meantime we're also happy to be testing with a modern browser again.

[2020-01-29 11:59] route commented on #19
@lawso017 Surprisingly I figured that `Capybara.server = :puma` adds 2.5 minutes to the build for our application, check if this is the case for you. I'm investigating it now. You may reduce your build time with `:webrick` lol

[2020-02-03 22:21] lawso017 commented on #19
@route I have been unable replicate a speed improvement using Capybara.server = :webrick -- that slows it down by a couple minutes relative to puma in our environment.

I have observed something else of interest, though... we are building on CircleCI using two containers and I was seeing some sporadic failures due to timeouts with the default 5 sec browser timeout. As I increased the timeout, howe

[2020-02-04 06:01] route commented on #19
@lawso017 I haven't found the issue with `Capybara.server` but that means the issue is in our application then.

In Ferrum/Cuprite there are a few places that are related to timeout but in general if your test is passing then it usually means test is not properly written but it can be a bug somewhere. I've seen some cases even in our application I had to rewrite tests a bit but can't remember now.

[2020-02-11 08:15] henrik opened #112 "How best to deal with "there are still pending connections"?"
Hi,

Moving some tests over from PhantomJS/Poltergeist and seeing errors like:

     Ferrum::StatusError:
       Request to http://127.0.0.1:43540/foos/1?login_url=http%3A%2F%2Fexample.com%2Flog_in&signup_url=http%3A%2F%2Fexample.com%2Fsign_up reached server, but there are still pending connections: http://127.0.0.1:43540/assets/opensans/opensans-semibold-webfont.ttf, http://lorempixel.com/160/100

[2020-02-11 08:21] henrik commented on #112
Heh, so about the lorempixel.com images, turns out they take aaaages to load, so that explains that. Though it'd still be nice with a way to disable loading (remote) images.

[2020-02-11 10:01] henrik commented on #110
Regarding those tons of other lines – is there a recommended way to get console.log output without seeing all that debug output? With Poltergeist and Apparition I've used `console.log` to help debug issues, but this is a bit overwhelming.

I realise I could grep the output or build a custom logger that does it – just checking if there's something built in.

[2020-02-11 10:08] route commented on #112
@henrik You can blacklist some urls with https://github.com/machinio/cuprite#url-blacklisting--whitelisting

[2020-02-11 10:13] route commented on #110
I think we can use STDERR for that, but it's not implemented. @henrik could you please open an issue, I'll try to implement it.

[2020-02-11 10:19] henrik opened #113 "Feature request: Be able to see just console.log/console.error etc without all debug output"
As discussed here: https://github.com/machinio/cuprite/issues/110#issuecomment-584557319

[2020-02-11 10:20] henrik commented on #110
@route Done: https://github.com/machinio/cuprite/issues/113 Thank you!

My ugly workaround for now is:

[code]

[2020-02-11 10:21] henrik commented on #112
@route Thank you! Will explore that. Appreciate it.

[2020-02-11 10:21] #112 closed

[2020-02-19 22:04] jarthod commented on #113
Indeed I just noticed this as I tried `cuprite` (coming from selenium + chrome headless). I would really like the ability to display (or get as string) the console output of the browser. Is there a way to get it using some method in an `after(:each)` maybe? I tried the `logger` option but it is slightly too verbose ^^.

Little suggestion: maybe when passing a ruby `Logger` object here you could se

[2020-02-20 09:04] route commented on #113
I think we need to split them, that would solve all the issues. If I remember correct we pass IO like STDOUT not Ruby logger, maybe it's time to revisit this part, I borrowed it from Poltergeist.

[2020-03-23 21:10] nicolas-brousse commented on #107
I noticed the same on our project.

[2020-04-03 11:57] route commented on #107
It should just work, if you can come up with a test or minimal reproducible case that would be awesome

[2020-04-04 11:18] smarquez1 commented on #48
@gvinicius Can you give us an example of how to set the `BROWSER_PATH` ?

[2020-04-06 06:16] route commented on #48
@smarquez1

[code]

or pass it when instantiating a driver

[code]

[2020-04-07 11:36] route commented on #106
Should be solved

[2020-04-07 11:36] #106 closed

[2020-04-07 11:38] route commented on #105
I need logs

[2020-04-07 11:38] #105 closed

[2020-04-07 11:59] #93 closed

[2020-04-07 17:13] nicolas-brousse commented on #107
Do you have an existing base template to create a reproducible example?

[2020-04-07 17:29] route commented on #107
@nicolas-brousse there are a lot of tests in both projects Cuprite and Ferrum you could create a failing test

[2020-04-07 17:32] nicolas-brousse commented on #107
@route Thanks, I'll try to have a look.

[2020-04-08 09:03] nicolas-brousse commented on #107
I did a quick test, and I think it's because Vue.js in this case return error by using `console.error`, and I guess this is something that is not (currently?) catch by `js_errors: true`.

[2020-04-08 09:52] route commented on #107
Thanks Nicolas, If it's the case I don't think it's a real error...

[2020-04-08 12:21] nicolas-brousse commented on #107
Well, not completely sure. I'm a bit shared. The option is `js_errors`, `console.error` return a log with `error` severity. So I guess it's kind of error.

May be if the decision is to not catch them, then `js_exceptions` should be a better option name.

What do you think about?

[2020-04-10 14:56] nicolas-brousse commented on #107
@route Make sense. Thanks for the talks!

[2020-04-10 14:58] route commented on #107
Anyways things will be easier to catch after I fix logger for which I have opened issues!

[2020-04-10 15:00] nicolas-brousse commented on #107
Yes! I saw some issues.

It was the option 2 I had in mind if I don't find any way to make Vue.js trigger exception instead it logs errors 🙂

[2020-04-22 20:30] vanboom opened #115 "Date field input is not working"
Rails 4 application....
This works with chromedriver but not with cuprite:
[code]
The date field value goes to nil, confirmed by watching in headded mode.   I have tried other date formats "01-01-2018", "01-January-2018" without success.

[2020-04-23 14:32] route commented on #115
This is how it is in cuprite specs `fill_in "date_field", with: "2016-02-14"`

[2020-04-23 14:32] #115 closed

[2020-04-24 16:33] vanboom commented on #115
That works perfectly - thanks.  I was attempting to follow the way that Chrome displays the field on screen.

[2020-04-26 22:14] betelgeuse opened #116 "window_opened_by doesn't work for pages with iframes"
**Spec code**

[code]

**Expected**

Find Wrapper page text

**Actual**

The page text only includes contents from iframe. I verified with capybara and selenium-webdriver that it behaves so that you get the Wrapper page contents.

[2020-04-26 22:21] betelgeuse commented on #83
Is there a way to do this with CDP? If not, support would first need to exist in the protocol.

https://chromedevtools.github.io/devtools-protocol/

The other option is that it's already supported to add chrome command line options so if this exists there it's automatically supported.

[2020-04-27 09:52] betelgeuse opened #118 "Line based filtering not working for rspec"
[code]

This should only match the single example

[2020-04-28 08:34] route commented on #118
This is because of https://github.com/rubycdp/cuprite/blob/master/spec/integration/session_spec.rb#L5 use `--example=`

[2020-04-28 08:34] #118 closed

[2020-04-28 08:35] route commented on #116
I would appreciate a failing test

[2020-04-28 12:41] betelgeuse commented on #116
This is fixed by rubycdp/ferrum#77

[2020-04-29 11:38] betelgeuse opened #119 "Failure screen shots are blank"
Whenever one of our system specs fails (Ruby on Rails 6) it generates a screen shot. They are in path tmp/screenshots/failures_r_spec_example_groups*

These screen shots are all blank.

[2020-04-29 11:46] route commented on #119
@betelgeuse That's weird, could you please turn on debug logs and attach them here so I can take a look, I need browser version as well. Below is the code we use on CircleCI so that it attaches log when spec fails:

[code]

[2020-05-15 04:15] janklimo commented on #119
@betelgeuse are you on `rspec-rails` by any chance? This has only been fixed in `4.0.0` which came out at the end of March.

[2020-05-15 06:47] betelgeuse commented on #119
I am so this could be the reason. I will report what happens once we get around to upgrading.

[2020-05-27 16:58] vitobotta opened #120 "Timeouts withe system tests when using parallelisation"
Hi! I just discovered this gem so I am trying to replace Selenium with it since I've read that this is faster :)

I am having a problem with system tests in Rails 6 randomly failing with

[code]

if I enable parallelisation. If I set `PARALLEL_WORKERS=1` so to disable parallelisation, tests pass consistently.

Is there a workaround/fix? Thanks!

[2020-05-28 11:48] dreyks opened #121 "any way to track redirects?"
in my test i want to verify that when a specific page loads it redirects to another resource.
- when I check `page.driver. status_code` it responds with 200 (meaning the resulting redirect)
- same for `page.driber.browser.network.response`
- when I check `page.driver.network_traffic` it does contain the redirect info that i need but it's really hard to pinpoint the correct Exchange since there can

[2020-05-29 14:26] betelgeuse opened #122 "Capybara.default_max_wait_time not always respected"
### Actual output

[code]

My investigation shows that this code sometimes only waits for around one second and does six retries with the defaults that can be found here:

https://github.com/rubycdp/ferrum/blob/e02b2399dacdcca36f0347832d0580eaee1ee0ed/lib/ferrum/frame/runtime.rb#L8

### Expected

Whenever Ferrum::NodeNotFoundError starts bubbling we should retry for the full configured Capybara wa

[2020-05-29 14:36] djvergad opened #123 "System tests hang indefinitely on Ubuntu 20.04"
On Ubuntu 20.04, chromium is not available as a `deb` package, but only through `snap`.

This causes system tests to hang without any useful message, as the tests seem to be running but do nothing.

The solution is to install chromium as a `deb` package from unofficial repositories, as explained here: https://askubuntu.com/a/1206153, but it is not at all obvious what the problem is.

Thus, I propo

[2020-05-31 12:45] route commented on #123
There was an explanation from the beginning https://github.com/rubycdp/ferrum#install to install it from official channels, since cuprite is evetually a wrapper around Ferrum it applies here too.

[2020-05-31 12:45] #123 closed

[2020-05-31 12:47] route commented on #119
Please reopen if upgrading didn't help

[2020-05-31 12:47] #119 closed

[2020-07-20 10:22] trusche commented on #67
This might be a bit hackish but does the trick for me (using rspec for a Rails app):

[code]

[2020-07-21 22:50] matpowel commented on #45
@route @twalpole as a community I think we're super grateful for your work on a CDP alternative to chromedriver/selenium, poltergeist etc. I do think collaboration could be very valuable though, although it would likely mean abandoning one of the projects and teaming up on the other, you both obviously have very deep knowledge of CDP and therefore would get a load more done than any of us "end use

[2020-07-21 22:53] matpowel commented on #67
👍 definitely a needed feature, the click_and_drag workaround didn't work for me, I need to look into why

[2020-07-22 05:10] matpowel opened #126 "Cannot get Cuprite working on Heroku CI"
Great project, I love the idea of using this project instead of the old Selenium way.

In short, we've got everything working on local dev machines (except drag/drag tests, but that's documented and hopefully will be implemented at some point) but it fails hard on Heroku CI with "dead browser" type errors. Here is some info:

An example error I get is:
[code]

Then below that:
[code]

We've tried

[2020-07-22 07:59] route commented on #126
The machine you use on CI is slower then your local machine and the reason for tests to fail. Try https://github.com/rubycdp/cuprite#url-blacklisting--whitelisting to block all external network requests, because with these your tests will be slower, try to compile assets in advance and turn debugging off to make the size smaller and compile everything into 1 file instead of n. These are thumbs up

[2020-07-22 07:59] #126 closed

[2020-07-22 14:31] matpowel commented on #126
Hi, thanks for the response.

As you can see from my settings, I have a timeout of 30 seconds, I've also tried 120 seconds. Our entire test suite (hundreds of tests) runs in about 250 seconds on the same Heroku instance with Selenium/Chromedriver so I really don't think timeout could possible be an issue? Is it the process_timeout or timeout that affects how long it waits to load related links on

[2020-07-22 16:29] route commented on #126
I highlighted the points for you to check. If you see a lot of pending connections to assets as well as external network requests don't you think that this is the reason why your test cannot move further? Do you want to wait forever until google responds or go ahead and start clicking around without styles and js properly loaded? I don't think so.

As for other projects I myself use it on a projec

[2020-07-22 16:46] matpowel commented on #126
I've tried all of the suggestions except asset pre-compilation and nothing helps. I've set both process_timeout and timeout to 200 seconds and it doesn't help, same error. There is no timing issue here. With the timeouts set to 200 it actually took close to 7 or 8 minutes to fail, I'm guessing maybe 200 + 200 seconds.

The fact that it works for so many people makes me think it's a setup issue, mo

[2020-07-22 17:39] route commented on #126
`process_timeout` is when you start Chrome process and wait until it does or raises an error.
`timeout` is what you need in general but anything that takes longer than 10-30 seconds is fishy.

Could you run test with CUPRITE_DEBUG=true env variable and attach the log, on Circle CI we use something like this to store the artifact with debug output for failing test.

[code]

Please remove `opts[:ins

[2020-07-22 18:10] tomasc opened #127 "Occasional Ferrum::StatusError: Request to … reached server, but there are still pending connections"
I just switched to Cuprite from Selenium and am having occasional `Ferrum::StatusError: Request to … reached server, but there are still pending connections: …` both on my machine as well as on CircleCI.

In both cases I run `browserless/chrome:1.31-chrome-stable` Docker image with default config (except of `CONNECTION_TIMEOUT=600000`).

My setup is based on this article: https://evilmartians.com/

[2020-07-22 18:32] route commented on #127
Hi, hm from the log looks like your request never reached the server. There are no events at all, can it be a connection issue in docker infrastructure? I assume test passes just fine locally?

[2020-07-22 18:43] tomasc commented on #127
Thanks for such a prompt response!

Hmm … the tests did not pass (occasionally) both locally and on CircleCI.

Actually, increasing the timeouts in fact does seem to help.

[code]

I will close this for now, and will reopen in case I run into it again.

[2020-07-22 18:43] #127 closed

[2020-07-23 06:18] matpowel commented on #126
Ok I spent a long time on this and I think we got it mostly worked out.

- The primary culprit seems to be the attempt to load anything over https, in our case material design icons and some fonts from Google CDN.
- First we tried adding ignore-certificate-errors but that didn't seem to help.
- Next we added whitelisting and it seemed to help but certain tests failed, rather confusingly one of the

[2020-07-23 06:52] route commented on #126
Wooohoo I'm glad you solved it!

1) Regarding drag & drop, it's on my list to implement it, should be relatively easy but I just need to find time.
2) Timeout 60s still seems too high in my opinion, if it helps to get rid of intermittent tests then I think there's one more underlying issue. I can't imagine waiting for response locally on the dev machine for more than 30s, even 30 sometimes too muc

[2020-07-27 05:13] matpowel commented on #126
1. I'll see if we can allocate some time to helping, but it looks like it's still [TBD over at Ferrum](https://github.com/rubycdp/ferrum/blob/be4675ac7b178dac1489c00109d043aed0a7f727/spec/dragging_spec.rb#L8)? I tried the method the guy suggested on issue #67 but it doesn't work. Does CDP support drag natively or would we need to simulate the mouse controls?
2. Dropped to 30s and it still works, n

[2020-07-27 07:50] route commented on #126
1. Not that I'm aware of, we can simulate it. There was also a bug https://bugs.chromium.org/p/chromium/issues/detail?id=850071 not sure if it's solved.
2. It is a timeout that's used not only for `visit` but for all commands you send to Chrome. We start the browser, and send a command, Chrome can crash or something may happen, so there must be a timeout we wait for the response. If it's set to 30

[2020-07-27 12:24] harmdewit opened #128 "Network cache is cleared during test suite"
For one of our rails projects I was interested to see if cuprite is faster than our current selenium chrome specs. Selenium still seemed a bit faster for the feature specs (3:26) vs cuprite (3:52)

I was looking at the differences between the two and I noticed that cuprite doesn't cache the assets during the full test suite while selenium does. Looking at the capybara method it seems like the rese

[2020-07-27 16:46] route commented on #128
@harmdewit Thanks for the the info, this is good to know. I was thinking about speeding up reset, even created branch called soft reset but faced some issues even in capybara's test suit. I think there's room for improvement but it requires more time for investigation.

[2020-07-31 13:30] eltercero opened #132 "Is there a way to access the JS logs?"
With Selenium you can do something like `page.driver.browser.manage.logs` to access the JS logs. Is there anything similar in Cuprite? I've been searching the docs but I can't seem to find anything.

Thanks a lot!

[2020-08-02 11:47] cintamani commented on #127
Hi @tomasc. I have done the same as you (even following the same article) on a codebase recently and I am also experiencing this same issue. We are using cuprite and in our case chrome is installed as a process (we don't use browserless). The error though is exactly the same. Are you still experiencing it or have you found a way to keep it at bay? In our case even with a very large timeout, some r

[2020-08-04 23:57] benjaminwood opened #133 "Remote inspector stops test execution"
Is it possible to open a remote inspector session to watch the test go by without interrupting its execution?

I'm not pausing the test (not using `page.driver.debug` or `binding.pry`, etc). Simply connecting headed chrome to the headless session with remote inspection stops the test execution. Is this expected? Is there a way to resume test execution once it has stopped?

Thanks for your help!

[2020-08-05 10:27] route commented on #127
@cintamani turn on debug and attach log file here, I’ll help you

[2020-08-05 10:41] route commented on #133
@benjaminwood you can try simply type enter and this will resume test from the given point, add slowmo option if everything happens too fast

[2020-08-05 10:59] cintamani commented on #127
Hi @route! Thanks! Unfortunately for us the issue was so sever we had to remove cuprite and go back to use selenium. It works fine.
If I find the time to roll back to those cuprite settings I'll send you the log. But consider the only thing that's sure is that requests don't report back and seem like it can be connected with an issue in chromium (https://bugs.chromium.org/p/chromium/issues/detail?

[2020-08-05 11:03] route commented on #127
@cintamani
I'm pretty sure it's neither cuprite issue nor chrome, so please if you have time in future attach log file.

[2020-08-05 11:07] cintamani commented on #127
Ah! Now I'm curious if you can help :D give me 20 I'll rollback!

[2020-08-05 11:59] cintamani commented on #127
Reported error:
[code]

Consider that:
 - The URL reported as pending connection is random. Sometimes it is even a URL from the cuprite blacklist.
 - The login request it fails to is a `before` of all our test in that file, there are 14, so is the first `visit` of any single scenario
 - The number of tests failing is random, we get 2 green runs out of 5, with 1 to 2 errors reported when they fails

[2020-08-05 16:41] benjaminwood commented on #133
Hi @route - thanks for following up. Nothing happens when I press the enter key. Do I understand correctly that the test execution is automatically paused when I connect the remote inspector (without the use of page.driver.debug, etc)

No message is displayed that the test is paused. It just sits there until the timeout limit is reached. I feel that there is something wrong - is there additional i

[2020-08-05 17:32] route commented on #127
@cintamani that's interesting I see no real issues, log silent before timeout. I've also seen someone reporting https and cert issues, maybe it's also the case for you? Since there's no event about page being loaded cuprite cannot proceed and thus reports about pending connections. Do you experience these issues on CI or locally or both?

[2020-08-06 00:38] CodeMeister commented on #127
I have the same issue on CI, but runs fine locally on macOS.

[2020-08-06 05:20] route commented on #127
@cintamani one more idea, maybe you blocked too many urls? What if we unblock all just for experiment?

[2020-08-06 05:21] route commented on #127
@CodeMeister please share debug output as well

[2020-08-06 09:32] cintamani commented on #127
@route I experience it on local (OSx), on CI and on docker Linux image. Once we fixed all the tests after the upgrade using selenium, I'll give cuprite another go to see if some of the fixed issues solved it :)

[2020-08-07 06:52] route commented on #127
@cintamani yea this looks creepy, nothing that I can think of at the moment. Did you try connecting to Chrome and see what's on the page after test fails?

[2020-08-07 10:30] cintamani commented on #127
Yes I did but nothing useful came out of it. The randomness of this issue makes it very very hard to pinpoint a cause. If I find anything, I'll update this thread for the devs of the future XD

[2020-08-20 17:45] haffla opened #134 "Encoding Issue when debugging"
Hello guys,

I've followed the [debuggung instructions](page.driver.debug(binding)). Chrome is actually opened  but everything looks completely scrambled. It seems it is some issue with encoding. Any idea why this is happening?

I'm on MacOS Catalina and Chrome 84.0.4147.135. This is a Rails project (rspec, capybara).

[2020-08-27 07:21] route opened #135 "Make a click on overlapped element a warning rather then error, with optional mute"

[2020-09-18 09:05] nashby commented on #121
@dreyks since Cuprite is a driver for Capybara and Capybara doesn't provide such functionality I think Cuprite shouldn't implement something like this. You can check this Capybara's maintainer answer about similar issues https://github.com/teamcapybara/capybara/issues/1149#issuecomment-23050206

[2020-09-27 02:10] caseyprovost opened #138 "Cuprite not running headlessly"
When spinning up Cuprite on a new project on a newly set up machine I am seeing Cuprite running head-fully instead of headlessly. Would love your thoughts on this. It is probably user error, but I swear I have done this exact setup a dozen times with perfect success.

My config:

[code]

Mac OS: 10.15.6
ChromeDriver: 85.0.4183.87
Chrome: Version 85.0.4183.121
Ruby Version: 2.6.1
Cuprite:  0.11
Cap

[2020-09-27 12:38] route commented on #138
I need your log file, turn debug mode on and attach file here :)

[2020-09-27 15:47] caseyprovost commented on #138
@route this is probably a dumb question, but how do you enable that? Below is the current config I am running to debug...but it is not spitting anything abnormal out in terminal or in test.log

[code]

[2020-09-27 15:56] caseyprovost commented on #138
OMG it was complete user error. I missed that RSpec now requires `driven_by` to be set

[2020-09-27 15:56] #138 closed

[2020-09-27 19:01] route commented on #138
That's good you figured that out.

[2020-10-01 06:15] simonrussell commented on #45
Just as a breadcrumb here for future readers (I found this thread when I was searching), it seems Cuprite has support for non-headless now (via Ferrum).  `headless: false` in the options does the trick.  And thanks for your work on Cuprite.

[2020-10-01 17:12] jdelStrother commented on #128
FWIW this hack:
[code]

reduced our feature spec time from 3:01 minutes to 2:40.

(Sadly it's still slower than Selenium at 2:03 - I'm not sure why cuprite & apparition are so much slower for us)

[2020-10-02 04:53] route commented on #128
@jdelStrother there are also a few of storage types which you are not cleaning and I think you shouldn't set started to false.

Should be faster, maybe there are some timing issues. Did you investigate debug log? Sometimes I find network issues there which I didn't notice before.

[2020-10-02 12:51] jdelStrother commented on #128
I did check the logs, but couldn't spot any obvious network issues.

I did some profiling of the methods in Capybara::Session totalled up over the course of our test suite.  Here's the top 10 from Cuprite:

[code]
(times are in ms - eg we spent a total of 63 seconds waiting for Capybara::Session#visit)

And for Selenium/Chrome:

[code]

So some of cuprite's methods (eg assert_selector/assert_text/

[2020-10-03 06:04] route commented on #128
I think what happens is Selenium doesn’t wait until the page fully loads and your test starts executing earlier. While it looks like speed increase though it’s dangerous because we start interacting with partially loaded website. It’s only a clue though

[2020-10-05 19:56] ianks commented on #128
@jdelStrother Thank you for that tip. It has significantly decreased our test suite time! I feel like caching assets is a pretty sane default, especially given that many apps use app servers like Puma which will end up serving static assets via the Ruby process (which is slow).

[2020-10-12 08:44] jdelStrother commented on #128
Maaaybe. We have hundreds of tests that we currently run with selenium-webdriver+chrome without running into problems though. I guess Capybara's default behaviour of waiting for an element to appear when you do something like `click_button "foo"` is papering over the problem of partially loaded pages, making this Cuprite feature seem like unnecessary overhead for our use case.

(Sorry if that soun

[2020-10-18 16:17] adenta commented on #138
@caseyprovost  @route

what does this mean? Currently cuprite is behaving weird in headless mode. Tests pass in non-headless mode, but fail in headless.

here are my two drivers:
[code]

In headless mode, I can't find a specific element by classname `find('.settings_button').click`, but this works in regular mode.

[2020-10-28 03:37] matpowel opened #139 "Flapping specs caused by timing issues with AJAX"
So in general we've been really enjoying using this project. The biggest outstanding items are lack of drag/drop support for system tests around drag/drop in our app and then flapping specs. For the flappers, they seem to be caused primarily by timing issues which we never get in old Selenium branches.

We use the table widget from bootstrap-table.com fairly heavily in the app and load all the dat

[2020-10-29 07:48] route commented on #139
I'm happy to debug and fix them all if you show me your tests, debug logs and collaboration :) Though I understand it should be done privately so my email is in my profile!

[2020-11-09 16:19] sfcgeorge commented on #122
Ooh I think this is it.

We'd been having the [Could not find node with given id](https://github.com/rubycdp/cuprite/issues/61) bug and in the end increasing the `timeout` fixed it.

But we're getting that error again on some tests. It's started since switching to a remote chrome (with URL) so I'm guessing there's a slight extra lag there.

Specifically the issue occurs when navigating from one pa

[2020-12-09 15:28] mauro-oto commented on #100
@rogercampos I was able to avoid adding `gsub` or actually changing the text in the expectations by enabling this setting on `rails_helper.rb`:

[code]

That setting got rid of all of the extra whitespace characters.

[2020-12-18 17:42] mbajur opened #141 "Capybara randomly not able to find elements"
First of all - i'm not sure if that's a proper repo to report that issue, if not please forgive my ignorance and close this issue.

I have a pretty decent specs suite for one of my apps and there is one place that gives me headaches as it randomly fails on CI - like 8/10 of times. There is nothing really special about this check. It's about clicking a link:

[code]

The error rspec gives me is
[co

[2020-12-21 16:57] route commented on #141
If you turn on debug log and attach it here or send it to my email I can take a look, otherwise it's fortune telling.

[2020-12-25 12:16] Sylor-huang opened #142 "With cuprite in local test, I always get Ferrum::StatusError and RuntimeError"
Hi, I use `cuprite` to test my codes in local , but I always get errors like this:

[code]

My `cuprite` settings is like follows:

#### 1. capybara_setup.rb

<details>
<summary>capybara_setup settings</summary>

[code]

</details>

### 2. cuprite_setup.rb
<details>
<summary>cuprite_setup settings</summary>

[code]
</details>

### 3. better_rails_system_tests.rb

<details>
<summary>better_rails_sy

[2020-12-26 09:29] route commented on #142
Something is taking too long to respond from vendors, if you use assets try to precompile them first and then run tests. Also try to put debug and see yourself in the browser what is taking so long https://github.com/rubycdp/cuprite#debugging

[2020-12-26 10:14] Sylor-huang commented on #142
@route  Thanks very much, I had got the time out reasons.

[2020-12-26 11:06] #142 closed

[2021-01-02 17:39] vitobotta commented on #113
Hi, is there a workaround for this under than using grep to exclude debug lines? Thanks!

[2021-01-02 22:54] nfm commented on #113
You can define a custom logger (which still needs to omit the debug log lines, but is a different approach to [grepping stdout as outlined here](https://github.com/rubycdp/cuprite/issues/110#issuecomment-584564745)).

There's an example at https://github.com/rubycdp/ferrum/issues/55#issuecomment-595225879, I used this approach as a starting point. Happy to share more details about what I've done i

[2021-01-03 08:28] vitobotta commented on #113
Hi @nfm , yeah that's what I have been doing with grep. Not sure of how to use the custom logger though. Can you help or should I ask in that thread? Thanks! :)

[2021-01-03 10:45] nfm commented on #113
Happy to share my WIP. I expect you'll want to modify this a bit (we're trialing migrating from Selenium and I want to keep things backwards compatible-ish but haven't quite nailed that down yet):

[code]

[2021-01-03 12:23] vitobotta commented on #113
Hi @nfm , thanks a lot! I made a couple of changes since I prefer to print the relevant log entries as they happen, plus I added `Runtime.consoleAPICalled` since that's what seems to be used when I use `console.log` from my code for debugging.

[code]

Thanks again!

[2021-01-22 12:16] georf commented on #141
I think you got the same problem. It should be fixed with #125

[2021-01-22 12:21] mbajur commented on #141
Sorry for not responding, i'm not really able to provide any debug logs right now / in the nearest future so i guess this issue can be closed till then.

[2021-01-22 12:37] #141 closed

[2021-02-13 19:02] caseyprovost commented on #139
I am seeing this behavior as well. Do we have any fix available or methodology of writing ajax-based tests so that they work more reliably?

[2021-02-14 22:52] matpowel commented on #139
@caseyprovost I never found any, but please share if you find good fixes. We had to switch back to Selenium for now but we really would like to ride as close to native driving of browser as possible.

@route I hope we'll have time in the future to transpose all the issues to publicly shareable tests, but for now it's really quite simple, that is Cuprite doesn't seem to really have any native abili

[2021-02-18 14:56] route commented on #139
@caseyprovost nothing fancy just properly write capybara tests and you should be good.

https://thoughtbot.com/blog/write-reliable-asynchronous-integration-tests-with-capybara
https://evilmartians.com/chronicles/system-of-a-test-setting-up-end-to-end-rails-testing

[2021-02-18 15:07] route commented on #139
@matpowel Like I said I'm happy to help and debug, so please if you come up with a simple test that reproduces the issue, I'll investigate, as for AJAX there are methods like https://github.com/rubycdp/ferrum#wait_for_idleoptions and so on to help people working with it

[2021-02-23 15:26] jeromepl opened #145 "Flaky tests when using 'within' block"
We are seeing some of our simple tests fail upwards of 80% of the time. For example:
[code]
The error message when running the test (again, only about 80% of the time):
[code]

For a reason we don't yet understand, if we remove the within block from this test to change it to the following, then the test always passes successfully.
[code]
Increasing the `default_max_wait_time` doesn't help as this

[2021-02-23 18:53] route commented on #145
That's interesting, could you come up with reproducible test?

[2021-02-23 22:06] jeromepl commented on #145
We tried reproducing this issue in Cuprite's test suite without success.
The test:
[code]
With changes to `views/click_test.erb`:
- Add body attribute `<body data-test-attr="body-test">`
- Add button in body `<button id="link" class="box">Link</button>`
- And the following change to the onClick function (within the onload function) to simulate a load time:
[code]

Yet, this did not reproduce the i

[2021-02-24 05:44] route commented on #145
Could you turn on debug mode and send me log file in both cases? My email is in my profile.

[2021-02-24 19:00] jeromepl commented on #145
What log file are you referring to? I am unaware of Cuprite generating any log files

[2021-02-24 19:12] route commented on #145
See https://github.com/rubycdp/cuprite/blob/master/spec/spec_helper.rb and `logger:` option. Also you can set `FERRUM_DEBUG=true bundle exec rspec` and see the log in the console.

[2021-03-03 22:35] jeromepl commented on #145
I have just sent you an email containing the log files, sorry for the wait!

[2021-03-05 13:30] #145 closed

[2021-03-05 16:14] uanwar88 opened #149 "Cuprite crashes on network request?"
It looks like cuprite is crashing inexplicably while running tests. Specifically, it crashes when being directed to a new page when a Submit form button is clicked.

Here's the log:

[code]

Is there any way to get more info on why it's crashing or cancelling the requesting?

[2021-03-05 16:38] uanwar88 commented on #149
Maybe it's possible related to https://github.com/rubycdp/cuprite/pull/140 ?

[2021-03-05 17:59] uanwar88 commented on #149
[code]

[2021-03-05 18:21] uanwar88 commented on #149
The crash occurs specifically after the `redirect_to` call in the `#update` action.

[2021-03-05 21:36] route commented on #149
I don’t think it’s cuprite or capybara, you better look for chrome cdp bugs. Did you try to turn off blacklisting?

[2021-03-05 22:49] uanwar88 commented on #149
Yes, tried with blacklisting disabled. No luck there. It's weird because you can see that the redirect occurs and completes successfully with status code 200. But then immediately after the redirect, the page crashes. So weird.

[2021-03-06 06:26] route commented on #149
Can you try modifying that page after redirect? To triage the issue at least, maybe comment out some js

[2021-03-06 16:07] uanwar88 commented on #149
Hello. Thanks for your feedback. I was able to fix this issue.

Didn't mention I was running WSL. Fixed it by creating a symlink to the Windows chrome.exe binary instead of using the Ubuntu google-chrome distribution.

`rm /usr/bin/google-chrome`
`ln -s /mnt/c/Program\ Files/Google/Chrome/Application/chrome.exe /usr/bin/google-chrome`

[2021-03-06 17:16] #149 closed

[2021-03-17 14:32] rogercampos commented on #113
An update version to log also object, not just strings. Also removed log of `Runtime.exceptionThrown` since that's already caught by `js_errors: true`.

[code]

[2021-03-26 16:18] maschwenk opened #152 "Headless vs Headful vs Inspector"
Not really an issue but more of a question. What is the difference between the 3 options? Inspector looks very similar to a non-headless browser session that I'm used to from Selenium?

[2021-04-26 05:58] davidwessman opened #153 "FerrumError when using `attach_file`"
Hello, I was not sure if this should be posted here or on the ferrum-repo, please move it if that is better (or I can post it there).

I have been trying to migrate from Selenium to Cuprite but ran into some issues with `attach_file` causing errors.
I reproduced it in a minimal example: https://github.com/davidwessman/reproduce-cuprite-attach-file

Versions used:
Chrome: Version 90.0.4430.85 (Offi

[2021-05-01 04:59] martinGerez opened #154 "Travis CI Failing"
Hi, I have been using Cuprite for a while, and is working fine in the local environment. But I can't get it to work on Travis CI.

I can't find any documentation or post or anything about the build config.
Each system test fails with the same error:
[code]

My `.travis.yml`:
[code]
Have you any advice or documentation to get it to work? Thanks a lot!

[2021-05-05 07:10] route commented on #154
@martinGerez maybe there's not enough memory? can change the instance type?

[2021-05-05 11:43] trusche commented on #153
If it's something like this:

[code]

I encountered the same thing with a relative path name. Make sure you pass an *absolute* path to `attach_file`.

[2021-05-06 06:56] davidwessman commented on #153
@trusche Thank you very much! That was indeed the error.

Maintainers: Would it make sense to add a fix for it to cuprite? Or can I add it to the documentation somewhere?

[code]

was all I needed to do.

[2021-05-06 10:40] route commented on #154
Closing for now, until you provide some feedback about memory

[2021-05-06 10:40] #154 closed

[2021-05-11 15:25] ktimothy opened #155 "segmentation fault on apple m1 when runnings specs with ruby 2.7.1"
I had an issue with system specs in my project, which I was able to track down to cuprite gem. I simply tried to run the cuprite's tests and got same segmentation fault, as I did with my tests:

[code]

[segfault.txt](https://github.com/rubycdp/cuprite/files/6460260/segfault.txt)
[ruby_2021-05-11-182044_RLX-TLL-MC001.crash.txt](https://github.com/rubycdp/cuprite/files/6460280/ruby_2021-05-11-18204

[2021-05-12 10:03] ktimothy commented on #155
I have traced the issue to the `Capybara::Result` class, and now it seems like the issue is connected with the Ruby lazy enumerators.

[2021-05-17 14:59] brunaportugal commented on #105
I have encountered the same issue as @sfcgeorge, but didn't find any solution to it online. How did you guys solve this problem?

I'm currently using these versions:

[code]

[2021-05-17 15:19] sfcgeorge commented on #105
@brunaportugal hi, sorry for not sharing the solution we found already! I believe a colleague fixed this by simply increasing the timeouts:

[code]

Feels too simple but hopefully that was it 😄

[2021-05-18 08:33] brunaportugal commented on #105
@sfcgeorge thanks for the quick reply! Unfortunately this solution isn't working for me 😞

We have a method that takes screenshots of the error, and according to that Capybara/Cuprite does reach the page that I want. I've tried different matchers (_have_text, have_context, have_css_) and also different parts of the text, but for some reason I keep getting the same error. Anyone has an idea of what

[2021-05-18 08:42] route commented on #105
@brunaportugal why don't you turn headful mode and see what's happening meanwhile adding `slowmo` option? Maybe page has reloaded at the time of querying node?

[2021-05-25 05:49] route commented on #155
I don't think I can do something with it, first of all I don't have m1 to reproduce, second seems like it's ruby bug.

[2021-05-25 05:49] #155 closed

[2021-06-03 11:27] janko opened #156 "Calling Node#set with empty string doesn't trigger the `input` event"
Hi, thank you for building this great gem, it's so nice not to have to go through selenium and chromedriver 🙏🏻

When switching to Cuprite, I noticed that calling `Node#set` with an empty string doesn't trigger the `input` event. In my app I'm using Stimulus to listen to `input` event on a search field, and triggering requests when the field value changes. I had code like this:

[code]

Here is a s

[2021-06-04 07:05] YusukeIwaki opened #157 "Element is not focused with #fill_in?"
Hi, I'm trying several Capybara drivers.
When we evaluate with the following RSpec script (simple GitHub searching), Cuprite doesn't work as expected.

* Selenium: 10/10
* twalpole/apparition: 8/10 (https://github.com/twalpole/apparition/issues/76)
* rubycdp/cuprite: 0/10

[code]

[code]

![image](https://user-images.githubusercontent.com/11763113/120759217-c436a000-c54d-11eb-9b3a-9f22086ff357.png

[2021-07-22 11:31] adrienpoly opened #158 "Switch browser to offline mode"
I would like to test a progressive app and especially the behavior when the App goes offline.

I have seen some examples with Capybara for setting Chrome in offline mode by doing something like :

[code]

source : https://stackoverflow.com/questions/24027626/simulate-network-failure-offline-mode-in-capybara

I tried this with Cuprite

[code]

but it hangs forever

any tips to achieve this? Thanks

[2021-07-22 11:40] adrienpoly commented on #158
Ok it looks like that I am getting close to something with the following syntax

[code]

[2021-07-26 11:41] route commented on #158
Both browser and page have `command` method it depends on the domain of CDP, I think it should be `page.driver.browser.command('Network.emulateNetworkConditions', params)` could you try and let us know?

[2021-07-26 12:33] adrienpoly commented on #158
@route thanks it works. I now need to find how to enable service worker on chrome headless.

[2021-07-26 12:33] #158 closed

[2021-08-14 16:25] marckohlbrugge opened #160 "Wrong order when using `fill_in` with Stripe Elements"
I'm using [Stripe Elements](https://stripe.com/payments/elements) to accept credit card payments on my website. I've written some specs for this which work fine with the `webdrivers` gem. However, with `cuprite` some of the numbers that I enter with Capybara's `fill_in` get inserted out of order.

For example I use `fill_in "1234567890123456"` which results in this:

![CleanShot 2021-08-14 at 18 2

[2021-08-23 15:00] route commented on #160
Thank you, I'll take a look at this page and will try to reproduce

[2021-08-23 15:19] marckohlbrugge commented on #160
Sorry for more following up earlier. I thought I left another reply but apparently didn't.

Anyway. I think I solved this by removing a workaround that was needed for Capybara. With Cuprite it's no longer necessary and actually works flawlessly.

So no need to reproduce. The issue can be closed.

[2021-08-24 05:57] route commented on #160
Gotcha, thank you @marckohlbrugge

[2021-08-24 05:57] #160 closed

[2021-08-29 13:31] Mifrill commented on #90
Hi, @mateusg! Unfortunutially repo https://github.com/mateusg/cuprite_bug_sample, not exist:
![Selection_755](https://user-images.githubusercontent.com/23525618/131252091-a1d5b3f5-ad93-4c6c-9e5c-d9c69310128b.jpg)
can you please submit a bug-reproduce report or restore the repo?

[2021-08-29 15:16] Mifrill commented on #132
Hi, @eltercero! Sure, we have "anything similar":

https://github.com/rubycdp/cuprite/blob/749805654986d832554ffd17bb3f190159ed2b3e/spec/features/driver_spec.rb#L55-L71

This implementation is based on Ferrum even handler:
[code]
https://github.com/rubycdp/ferrum/blob/006c5fc385596c218402de8b0d24dbe6739f1c72/lib/ferrum/page.rb#L209-L213
https://github.com/rubycdp/ferrum/blob/006c5fc385596c218402de

[2021-08-29 15:25] Mifrill commented on #52
@route [appveyor](https://www.appveyor.com/) surly support windows, we can submit CI run for (let's try maybe). I did request access:
![Selection_757](https://user-images.githubusercontent.com/23525618/131255850-dc8e46d9-b359-4012-acf4-420cc8a16131.jpg)

[2021-09-03 01:25] y-yagi opened #161 "DevTools discovery page is deprecated"
`debug` method access the DevTools discovery page. But the page is deprecated now.

![Screenshot from 2021-09-03 10-24-32](https://user-images.githubusercontent.com/987638/131936521-52fd8c46-57e1-4f06-be9f-45ec0deffd7e.png)

Ref: https://bugs.chromium.org/p/chromium/issues/detail?id=1232509

They suggest to use `chrome://inspect` instead.  But, if my understanding is correct, the inspect page can'

[2021-09-06 06:06] eltercero commented on #132
That's great! Thanks a lot, @Mifrill

[2021-09-06 06:06] #132 closed

[2021-09-10 22:01] JCTD opened #163 "debug(binding) is showing a chrome deprecation error page on chrome"
I noticed that Chrome is unhappy with something in the debug(binding) feature because when it's called, it opens an error message on Chrome. Please see attached screenshot below.

<img width="1158" alt="Screen Shot 2021-09-10 at 5 57 11 PM" src="https://user-images.githubusercontent.com/7025236/132922346-8fdc4608-4e79-4d86-9186-eb6a1a7b6e01.png">

[2021-09-11 10:33] route commented on #163
This is a duplicate of https://github.com/rubycdp/cuprite/issues/161

[2021-09-11 10:33] #163 closed

[2021-09-21 01:57] Nakilon opened #164 "How am I supposed to clear the <input type='text'>?"
Since for example this https://stackoverflow.com/a/45323528/322020
[code]
throws:
[code]

[2021-09-27 08:04] route commented on #164
That's for selenium, how about `fill_in "field", with: ""`? Anyways whenever you call `fill_in` the input should be cleaned and new value set, that's the default behavior.

[2021-10-06 10:39] odlp opened #165 "Rename url_blacklist / url_whitelist"
Hello,

Thanks for Cuprite & Ferrum - they're great.

Would the project be open to a contribution towards more inclusive language, specifically renaming:

- `url_blacklist` -> `url_blocklist`
- `url_whitelist` -> `url_allowlist`

Perhaps the old terms could be left as aliases and marked as deprecated until the next major version.

I'd be happy to raise a PR for this.

Cheers,
Oli

[2021-10-06 16:50] route commented on #165
Hi @odlp I think I'm ok with that if there are aliases

[2021-11-04 15:40] BillyRuffian opened #168 "Cuprite does not play nicely with Async"
(I've done very little digging and maybe this should be posted to Ferrum)

Using Ruby 3.x

[code]

Gives the rather painful...

[code]

[2021-11-04 17:11] route commented on #168
I'm currently working on this, though I work on Ferrum rather than Cuprite/Capybara

[2021-11-12 16:33] route commented on #168
Same code you provided for Ferrum:

[code]

and shows:

[code]

[2021-11-12 16:47] BillyRuffian commented on #168
Nice, so a Curpite issue rather than a Ferrum one then?

[2021-11-12 19:09] route commented on #168
I’d say capybara

[2021-11-12 19:15] BillyRuffian commented on #168
Hmmm the apparition driver, also CDP driven, has no issues

[2021-11-13 06:58] route commented on #168
I’ll take a look but off the top of my head can remember anything done wrong in cuprite.

[2021-11-19 10:51] LosBandolero commented on #95
@route good afternoon, I do experience this issue right now and can not switch to iframe, all the information is bellow:

1. Gems and versions:
`gem 'capybara', '3.35.3'
gem 'cuprite', '0.13'
em 'rspec', '3.10.0'
gem 'site_prism', '3.7.3'`

2. Error Log
`Failure/Error: raise NoExecutionContextError unless @execution_id

          Ferrum::NoExecutionContextError:
            There's no context avai

[2021-11-22 10:22] simmerz opened #174 "ActionController::ParameterMissing when file is attached"
Without the file attached, I get validation errors (as expected), but as soon as I attach a file, I get no errors on the console suggesting that's gone wrong, but I get a failed submit with the following error in RSpec:

[code]

Removing the validation on the file attribute and not filling it in proves that the submit is successful otherwise.

[2021-11-22 12:43] simmerz commented on #174
Further to this, it appears that uploading and attaching files via the browserless `workspace` API works fine, but doesn't if the app directory is bind mounted in to the browserless container. Using VSCode devcontainers on macOS Monterey, so could be anything in the way that directories are bind mounted too causing this issue.

Here's a helper to allow remote uploads to work:

[code]

Replace inst

[2021-11-24 21:02] zedtux opened #175 "How to test file download?"
I have a test where something is exported as a PDF file and pushed to the client so that he downloads that generated PDF file.

How can I test that and test that the expected downloaded file name?

[2021-11-25 05:07] route commented on #174
@simmerz There are various capybara tests regarding file attachment:

[code]

and all of them pass. You are describing application specific issue and I'm glad to help, but you should at least to provide the failing test in isolation (example dummy app) or try to reproduce the issue inside cuprite tests. Without it it's hard to take a look at BrowserlessHelpers and say where the issue is...

[2021-11-25 05:11] route commented on #175
Hey @zedtux I think you are looking for https://github.com/teamcapybara/capybara/blob/f7ab0b5cd5da86185816c2d5c30d58145fe654ed/lib/capybara/spec/session/click_link_spec.rb#L219

[2021-11-25 09:20] simmerz commented on #174
It actually looks like it's a specific issue when the app codebase is bind mounted inside a docker container, rather than a specific problem with cuprite - I'm using VSCode devcontainers here. There are similar issues when attaching files via FactoryBot or directly using `fixture_file_upload` too, and the solution in those instances is to make a copy of the file first so it's native to the contain

[2021-11-25 13:37] zedtux commented on #175
Thank you @route for that link, I will use it in my tests 👍

[2021-11-25 15:24] #67 closed

[2021-11-25 21:18] zedtux commented on #175
So I tried to use that code but it doesn't work as it can't find the download file.

My generated file is done from a JavaScript app. How is Chrome/Cuprite saving the downloads to the `Capybara.save_path` ?
Is there anything to setup in order to have it working?

[2021-11-28 07:41] route commented on #175
You just have to setup `save_path` dir and that's basically it. Run the test with CUPRITE_DEBUG=true and show the output. Also tell details regarding specs, do you run everything on the same machine or it's docker setup...

[2021-11-28 07:46] route commented on #174
In general now it's not clear even to me what's going on because there are a lot of missing details regarding the spec as well as test setup. I don't clearly see your solution either. So I'm afraid currently it's all mixed up and doesn't provide any particular help to the others. If you could restructure your description from top to bottom that would be helpful.

[2021-11-28 07:49] route commented on #95
@LosBandolero can you run this test in particular with `CUPRITE_DEBUG=true` and show the output here?

[2021-11-28 07:59] route commented on #175
Some hints from other repo https://github.com/rubycdp/ferrum/issues/169

[2021-12-01 19:18] glaucocustodio opened #177 "Any chance of implementing a stealth mode?"
Some sites detect and block when headless mode is on, I've found https://github.com/rubycdp/ferrum/issues/142 that shows possible ways to overcome this.

Any chance of implementing a stealth mode? I am not an expert in this but I could try to help somehow.

[2021-12-01 19:22] glaucocustodio commented on #177
I had forgotten Cuprite uses Ferrum under the hood, sorry.

[2021-12-01 19:22] #177 closed

[2021-12-02 19:50] zedtux commented on #175
Thank you @route for the help, unfortunately it doesn't work, I never have downloaded files appearing.

I'm using a Docker environment with a compose service for my app, and another one for Chrome using the `browserless/chrome:1.49-chrome-stable` Docker image.
I've basically followed the excellent blog article [System of a test: Proper browser testing in Ruby on Rails](https://evilmartians.com/chr

[2021-12-02 19:56] route commented on #175
I'll take a look tomorrow

[2021-12-02 19:57] zedtux commented on #175
Excellent, thank you! If you need anything from me, just let me know.

[2021-12-03 06:41] zedtux commented on #175
My first guess is that Cuprite is well saving the file at the given position but in the `chrome` service, but the tests are running in the app service.

I will try to redo the same I did with Selenium which is to create a volume in compose in order to share the `chrome` `save_path` with the app service and see if it works.

[2021-12-03 10:11] route commented on #175
You have a great setup! All well thought and tidy. As for download behavior if Chrome runs in a dedicated container then the file is downloaded there definitely because under the hood it uses [Download](https://chromedevtools.github.io/devtools-protocol/tot/Page/#method-setDownloadBehavior)  which simply puts the file into `downloadPath`. So I'm afraid it lies in the docker container for Chrome. I

[2021-12-03 10:16] zedtux commented on #175
Sure I will.

[2021-12-04 22:38] jubishop opened #178 "Drag/drop not working for SortableJS"
Heyo,

I'm using https://github.com/SortableJS/Sortable.  I have a simple `drag_to` to move an item.  it works when I use https://github.com/twalpole/apparition but if I swap the driver to `cuprite` the move of item no longer takes place.  I noticed `apparition` is doing some interesting stuff in its `drag_to` method: https://github.com/twalpole/apparition/blob/ca86be4d54af835d531dbcd2b86e7b2c77f8

[2021-12-05 11:51] route commented on #178
Sure go ahead and I'll help

[2021-12-16 15:12] senid231 opened #179 "NoMethodError method monotonic_time for Ferrum"
After updating `cuprite` and `ferrum` from github master branch following error occurred:

[code]

Gemfile.lock
[code]

[2021-12-16 18:43] route commented on #179
https://github.com/rubycdp/cuprite/pull/173

[2021-12-16 18:43] #179 closed

[2021-12-25 22:23] simmerz opened #180 "Unable to run rspec w/ Cuprite in Rails 7"
Rails 6.1.4.4 works. Rails 7.0 fails with:

[code]

Setup is docker with a remote browserless.io image.

On investigating this a little further, when instantiating `Cuprite::Browser::Driver.new(app, options)` it appears none of the options get passed in, and instead there is a `window_size: [1400,1400]` option passed in. The only place I can see that is in one of the tests in the Cuprite codebase,

[2021-12-26 20:31] IamNaN commented on #165
Migrating the default branch to "main" would be another idea.

[2021-12-28 14:11] botandrose opened #181 "Add `page.driver.downloads` API?"
Heya, I've recently been migrating my projects from my own driver at https://github.com/botandrose/capybara-headless_chrome to this one. Much better! Thank you so very much!

However, there is one thing that I miss from my old driver: a nice downloads API. So, I've quickly extracted it and hooked it up to Cuprite via https://github.com/botandrose/cuprite-downloads . I'm opening this issue to ask i

[2021-12-29 12:35] route commented on #181
I like it! Why don't you open PR for Cuprite? :)

[2022-01-04 15:38] lonnv commented on #180
Wanted to comment because we have the same issue, in Rails 7.0

[2022-01-04 16:14] lonnv commented on #180
@simmerz I was able to work around it for now by registering the driver under a different name:

[code]

[2022-01-05 06:01] route commented on #180
Investigating...

[2022-01-08 05:38] swanson commented on #178
https://github.com/rubycdp/cuprite/pull/182

[2022-01-08 06:31] jubishop commented on #178
interesting, thanks @swanson for getting my attention to your change.  I'd love to see the file where you're successfully pulling this off if you have something you'd be willing to share..

[2022-01-08 07:16] swanson opened #183 "Ferrum::PendingConnectionsError when running on Github Actions"
I've got a test suite with one test that is working great locally (headless or non-headless) but when I try to run it on github actions, I get `Ferrum::PendingConnectionsError` errors:

[code]

I've tried lots of combinations of options/timeouts/settings and I don't believe there is anything in the app that is slow/fails to load. I tried the Docker `'no-sandbox'` options, `process_timeout`, `timeo

[2022-01-08 07:31] swanson commented on #183
[code]

[2022-01-08 11:05] Matt-Yorkley commented on #90
@mateusg did you find a solution for this? I've suddenly hit the same issue...

[2022-01-08 19:45] swanson commented on #183
After bumping up the timeout to `60` I can see that it was taking ~45 seconds compiling assets so that seems like the culprit, however the tests never seem to finish even after the large timeout.

[2022-01-10 21:02] swanson commented on #183
Running `assets:precompile` seems to work for now.

[2022-01-10 21:02] #183 closed

[2022-01-12 08:58] baswenneker commented on #180
Not sure if it matters but I have the same issue. The workaround mentioned by @lonnv works but now my tests hit a timeout. I'm using rails 7 inside a docker container (evil martians setup https://evilmartians.com/chronicles/system-of-a-test-setting-up-end-to-end-rails-testing) and working on an Apple Macbook pro M1.

[2022-01-13 14:55] brenogazzola opened #184 "Cuprite finding elements inside closed detail tags"
I'm in the process of replacing selenium with cuprite for my Rails system tests. I have a green CI with selenium, but when I switch to cuprite I start getting a lot of errors like this:

Test:
[code]

Message
[code]

After checking, I discovered that I had 3 `.modal-body-confirmation` elements inside `detail` tags, but only 1 of those tags was open. So it seems that [this file](https://github.com/

[2022-01-13 15:05] brenogazzola commented on #184
This is an extraction of what the HTML looked like at the failure:
[code]

[2022-01-14 18:10] swanson commented on #180
This PR for Rails 7 seems to be causing the issue: https://github.com/rails/rails/pull/42790

If you name your configured driver `:cuprite` it will conflict with this method in Rails and your settings will be ignored: https://github.com/rails/rails/blob/main/actionpack/lib/action_dispatch/system_testing/driver.rb#L78-L80

[2022-01-14 18:19] swanson commented on #180
Appears to be fixed here: https://github.com/rails/rails/pull/42511

[2022-01-29 06:35] route commented on #180
Right, so I'm afraid it's different type of issue @baswenneker you are facing
I'm going to close this one as it appears a bug on rails side

[2022-01-29 06:35] #180 closed

[2022-02-11 16:52] jconley88 opened #185 "Configurable modal behavior?"
Would there be interest in making the behavior around modals configurable? The current default is to issue a warning. I'd be interested in seeing a few options:

1. strict: raise an error and fail the test
2. auto_accept: like the current default but no longer issue warnings
3. warn: the current default
  3a. possibly update this to include the file and line number so its easier to find

Why?
I tr

[2022-02-13 11:51] route commented on #185
Warning is only a default behavior when didn't set handlers. Use Capybara handlers and there won't be a warning https://www.rubydoc.info/gems/capybara/Capybara%2FSession:accept_confirm

[2022-02-14 16:57] jconley88 commented on #185
I didn't write the application. I often inherit legacy applications for maintenance and updates and don't have control over what state they're in. Having just a warning allowed the previous developer to let the code base degrade by not making a decision about modal handling and by littering the test output with logging information. Not only that, but it was difficult to recover from once it was in

[2022-02-17 22:21] pond opened #186 "Consistent asset compilation complaint with certain seeds"
We have a large proprietary application recently converted from Rails 6 to 7. The RSpec-based test suite is huge. It was using Capybara/Webdrivers for tests originally, but when we upgraded to Rails 7, we changed to Cuprite/Ferrum.

To explain the issue we're seeing with Cuprite, first, some history:

* We use AWS CI and had noticed under Rails 6 with Webdrivers 5, that _all_ of our download tests

[2022-02-20 10:14] route commented on #186
Hm that's crazy, did you try compiling assets beforehand? Even before running the test suite?

[2022-02-21 03:48] pond commented on #186
@route No, it should never be necessary to precompile assets in test or development; they're only precompiled in production because on-demand compilation is considered too expensive an operation.

Given that the only reliable way to replicate is to clear `tmp` between test runs, I have little doubt that precompilation would work, but it should not be needed and, even stranger, ignoring the compila

[2022-02-21 07:33] route commented on #186
You are saying that if the first test is Cuprite test it fails, does it mean if we clear tmp dir and run test intentionally like `rspec spec/features/...` we'll see error?

[2022-02-21 09:24] pond commented on #186
I don't know, but perhaps. I know we see it in _our_ application. Since nobody has engaged with this issue to say "yes, it's <x>", or even to say they'd seen it and worked around it too, I think I'll have to try and make a replicable test case. Obviously that might take a while as I'm starting from a giant proprietary application and can't leave any "private" IP in there `:-)`

[2022-03-04 05:14] pond commented on #186
In the end we dropped the Sprockets workflow entirely, gave up and just moved to an all-Node workflow with `jsbundling-rails` and `cssbundling-rails`. It wasn't really tenable to keep using Sprockets and import maps don't provide a CSS solution, so we had to just take the pain. As a result, the above problem goes away as we have no compilation stages left in the pipeline that aren't explicitly act

[2022-03-04 05:14] #186 closed

[2022-03-17 15:33] aliciapaz opened #189 "How to go offline?"
I've been trying to find a way to test a PWA end-to-end using Cuprite as my driver, but I haven't find any way of either temporarily disabling the app server or switching the headless browser into offline mode.

I've seen some resources regarding this issue (stackoverflow, blog posts, etc.) but they all refer to Capybara + Selenium.

I'd appreciate your help on this!

[2022-03-18 17:32] Fjan commented on #61
@route I'm still seeing this error occasionally, but only in a part of our test suite that opens iframes as popups and then tries to interact with the content of the popups. Adding a sleep before starting interaction reliably makes the error go away. Using selenium also prevents the error, so it seems to be specific to cuprite.

Just mentioning that here in case you see a way to update your patch

[2022-03-26 19:26] elalemanyo commented on #180
@baswenneker Did you find a solution? I am having the same issue 😬

[2022-04-01 18:16] MatheusPoliCamilo commented on #141
I'm having the same problem here, failing randomly with the error:

[code]

- Ruby 3.0.3
- Capybara 3.36.0
- Ferrum 0.11
- Cuprite 0.13

[2022-04-08 12:42] fanantoxa opened #191 "How to load chrome extensions?"
Hey! I've found problem that I can't resolve by myself. Could you take a look please?

There are extensions in google chrome. Sometime in tests it's very useful to have some like react/redux devtools (or other) to debug bug in application.
Currently when I run test with cuprite (not heedlessly) extensions setting is disabled (so I can't install any).
Also with `Selenium::WebDriver::Chrome` I'm abl

[2022-04-08 13:47] route commented on #191
Hi! I think the easiest thing to do is to use this [flag](https://peter.sh/experiments/chromium-command-line-switches/#load-extension) while running Chrome and you can pass them to the browser using https://github.com/rubycdp/ferrum#customization and `:browser_options` hash.

[2022-04-08 16:23] #191 closed

[2022-04-18 08:10] route commented on #141
@MatheusPoliCamilo you better send logs and the test, otherwise it's not useful at all. Usually this happens in a bad written test, but there might be a lot of reasons.

[2022-04-18 08:27] route commented on #189
There's no such ability now, but it can be easy to implement judging by this.

https://chromedevtools.github.io/devtools-protocol/tot/Network/#method-emulateNetworkConditions
https://github.com/gr2m/headless-chrome-test/issues/1#issuecomment-313826914

I'll try to take a stab soon

[2022-05-06 05:57] twe4ked commented on #158
Hey,

I'm getting this error when trying to use this command:

[code]

Seems like this is a generic error coming back from Chrome. Any ideas?

Cheers!

[2022-05-06 17:39] route commented on #158
@twe4ked  update Chrome

[2022-05-08 12:02] route commented on #158
I've added methods for Network.emulateNetworkConditions and offline mode https://github.com/rubycdp/ferrum/pull/264

[2022-05-10 00:00] twe4ked commented on #158
Thanks very much for the reply and implementing https://github.com/rubycdp/ferrum/pull/264.

I'm still getting an error after updating to the latest version of Chrome:

[code]

Any other ideas? I'm on an M1 Mac, doubt that's relevant but I thought I'd mention.

[2022-05-10 08:50] route commented on #158
Turned out it should be called on page instance:
[code]

[2022-05-14 16:11] thewatts opened #193 "Keychain Access Issue? (Mac OSX)"
Hello! :)

Thanks so much for all your hard work on this project!

I'm having a bit of an issue when trying to launch Cuprite in debug mode - it opens the browser, but it's blank, and this error is output to the terminal:

![image](https://user-images.githubusercontent.com/1141717/168439841-abc42900-b3ba-49ca-9848-03a0e7ac0d65.png)

[code]

I've Googled around for what this could be, but have come

[2022-05-14 21:39] thewatts commented on #193
Additionally -

I tried Chromium - I still get a blank page.

While I don't get the keychain errors with Chromium, I still get the last line:

[code]

[2022-05-17 11:30] route commented on #189
Was implemented in Ferrum and will land on Cuprite in the new release.

[2022-05-17 11:30] #189 closed

[2022-05-19 13:04] janko opened #197 "`node.trigger(:input)` doesn't dispatch an `input` event"
From following the JavaScript code, I believe that `node.trigger(:input)` currently ends up calling `this.dispatchEvent('input')`. However, that isn't the correct way to dispatch this event, it should be `this.dispatchEvent(new Event('input'))`.

[2022-06-03 14:10] fa11enangel opened #199 "Also found "<<ERROR>>", "<<ERROR>>", which matched the selector but not all filters."
I've tried to track down the problem, but can't figure out, how to proceed. This is the error:

[code]

My setup:

* ruby 3.0.4
* rails 7.0.3
* minitest
* capybara 3.37.1
* cuprite 0.13
* setup according to [eval martians](https://evilmartians.com/chronicles/system-of-a-test-setting-up-end-to-end-rails-testing)

It fails rarely on local system, but quite often on GitHub Actions. The screenshots of

[2022-06-08 07:44] route commented on #199
I think I've seen something like this in the test suite, but I don't remember now what it was. What I remember it wasn't the issue with Cuprite, it was issue with the test suite itself. Did you try to get rid of within method if you think it's a culprit?

I think the screenshot can be made a moment later, so it's not a reliable signal.

What you can do is to turn debug log on GA like it's done for

[2022-06-08 13:51] SeTeM commented on #199
Yeah, we had similar issues after switching from poltergeist to cuprite, but they were fixed by expecting some DOM changes after clicks

[2022-06-08 14:36] hoffi opened #200 "Javascript errors triggered by cuprite on pages with iframes"
On pages with iframes cuprite triggers a javascript error when switching into a frame.

I have written a test which shows the errors:

[code]

This fails with this message:

[code]

However this seems only to happen with Chrome >= 102. When i run this test with Chrome 101 or lower it does not fail.

The identifier `InvalidSelector` is defined here: https://github.com/rubycdp/cuprite/blob/2bbf3634d

[2022-06-09 01:51] ndbroadbent commented on #77
Sorry to comment on an old issue, but hopefully this might help someone else! I was struggling with getting cuprite to control Chrome on GitHub Actions, and it turns out that the default `process_timeout` of 1 second is just too short so Chrome didn't have time to start on the CI servers. (The `no-sandbox` option is also important.) Here's my working `:cuprite` driver for Capybara:

[code]

[2022-06-09 06:18] route commented on #77
@ndbroadbent I'll increase defaults

[2022-06-09 12:02] fa11enangel commented on #199
Thank you. Now I have an idea how to proceed. If I find something interesting to this problem, I'll reopne the issue.

[2022-06-09 12:02] #199 closed

[2022-06-10 14:54] hoffi commented on #200
I have found this line: https://github.com/rubycdp/cuprite/blob/2bbf3634d92af4e8b8ec3026c2b66ccf1d0590ad/lib/capybara/cuprite/page.rb#L119

The extensions are injected every time one switches to a frame. Is that neccessary? Ferrum already seems to inject them once at the page load.

[2022-06-30 17:44] radiantshaw opened #202 "Check/uncheck hidden checkboxes?"
On trying to check/uncheck hidden checkboxes, it gives the following error: `Could not compute content quads`. Is there any way to check/uncheck hidden checkboxes?

[2022-07-29 00:26] palkan opened #203 "Should we create a new browser context on reset?"
## Problem

Currently, when using Cuprite with a typical Capybara setup with `Capybara.reset_sessions!` after each test, a new blank context is created **after** each test.

When running tests in a heady mode, it results in stale blank pages left open at the end of the test suite run.

Also, if a test uses multiple sessions, the second one is left open (while the first one is reused).

## Solution

[2022-08-09 18:41] Nakilon commented on #61
I spontaneously get it in ferrum on the line:
[code]
[code]

[2022-08-18 06:21] borama commented on #161
The discovery page content seems to have been removed and the page is now empty (since [this commit](https://chromium.googlesource.com/chromium/src/+/2e194e180046e5583bad6a226fa942c95e5bad52), released in [Chrome 100](https://chromium.googlesource.com/chromium/src/+log/99.0.4844.84..100.0.4896.60?pretty=fuller&n=10000)).

A workaround that works for us is to load the JSON version of the page (`htt

[2022-08-18 20:08] jcoyne commented on #197
Additionally, shouldn't this event  have a property like: `{ inputType:"insertText" }`?

[2022-08-20 03:05] Nakilon opened #204 "How do I integrate it with Sinatra?"
I'm not a web developer so I never used Capybara integrated with the Ruby web app -- I always ran the tests as a separetly hosted application. However I'm currently making a Sinatra app and I suppose integrating it with the minitest would allow me to start and stop the app automatically that would be nice. But I can't figure out how to do that. I tried to follow https://sinatrarb.com/testing.html

[2022-08-20 12:47] nicolas-besnard opened #205 "Enable Chrome to translate a page"
I'm using Cuprite to crawl some websites and I'd like to translate the page.

By looking at Ferrum codebase, there's a [`Ferrum::Browser::Options::Chrome::DEFAULT_OPTIONS`][default_options] object.

So when configuring Capybara, I'm using [`ignore_default_browser_options`][ignore_default_options], and only re-use this `DEFAULT_OPTIONS` and exclude the key I don't want

[code]

But it doesn't seem

[2022-08-22 09:11] route commented on #205
1. You didn't say what is not working and what is the issue.
2. Double check that translation feature works at all in headless Chrome, because for example plugins don't.

[2022-08-22 15:08] tetienne commented on #191
@fanantoxa Did you succeed to load extension finally?

[2022-09-22 14:02] nialbima opened #209 "Axe"
Hi all,

I'm hoping this isn't the wrong place to put this comment, but I've found a breaking change in a library I rely on heavily and wanted to see if somebody might have any ideas that would allow me to proceed with migrating to Cuprite.

I've wanted to ditch Selenium for a long time now, and finally got my app in a position where a previous Cuprite spike looked like it could feasibly be turned

[2022-09-26 15:08] geoffharcourt commented on #203
Not 100% sure if this is related, but we've started seeing a lot of `Ferrum::DeadBrowserError` on specs that follow a spec that opened a second tab or pop-up window. We've confirmed this isn't running out of RAM (over 5GB free when this happens), but it seems like the first visit in the next spec might be pointing at a dead window handle somehow.

[2022-09-27 02:11] geoffharcourt commented on #203
Note from my own poking around: it looks like `Ferrum::Browser` has the same code to call `attach_page` eagerly: https://github.com/rubycdp/cuprite/blob/2bbf3634d92af4e8b8ec3026c2b66ccf1d0590ad/lib/capybara/cuprite/browser.rb#L32-L35

[2022-10-05 15:33] phylor opened #210 "`cannot load such file -- capybara/cuprite (LoadError)`"
With version 0.14 it seems we can't require the Capybara driver anymore.

Reproducable with the following:

[code]

Error:

[code]

@route Can you reproduce this issue? Is there something else we need to do, which wasn't necessary in version 0.13?

[2022-10-05 15:33] vakuum opened #211 "Gem is empty"
The data.tar.gz in cuprite-0.14.gem is empty:

[code]

The problem is caused by https://github.com/rubycdp/cuprite/commit/47d8949f30dea3d97dba70d8643abce861e0d652:

[code]

[2022-10-05 15:38] vakuum commented on #210
I have the same problem.

The cuprite-0.14.gem file seems to be "empty": https://github.com/rubycdp/cuprite/issues/211

[2022-10-05 15:40] #210 closed

[2022-10-05 16:05] #211 closed

[2022-10-05 16:09] route commented on #211
Released new version. Sorry for inconvenience.

[2022-10-06 05:40] davidwessman opened #213 "Requires `Capybara.save_path` to be absolute_path, unclear error message."
Hello!

When upgrading to Cuprite 13.0 -> 14.2 I started getting errors for in CI:

[code]

which is just a `visit` in my Rails system test.

Updating my setup from:

[code]

to

[code]

Could we make the error message better?

[2022-10-12 15:38] pedantic-git commented on #178
Hi @route - I'm just bringing this issue back to life because I've also experienced this same trouble with SortableJS today. My code is open source and my test is here: https://github.com/fishpercolator/name.pn/blob/main/features/signup_and_edit_profile.feature#L242

I tried switching drivers to apparition but in the timebox I had allowed, I couldn't even get apparition to start up - it just hung

[2022-10-14 05:26] route commented on #213
I see. While it's critical for Ferrum to get absolute path for downloads because it passes it as-is to Chrome, so that local path doesn't make sense, it's fully legitimate to Capybara to use `save_path` elsewhere in calls like `save_page` and similar. So I think we can check what is being send to Ferrum and auto convert it to absolute path, so that we don't change the behavior.

[2022-10-14 06:47] #213 closed

[2022-10-23 06:48] #175 closed

[2022-10-23 06:50] route commented on #153
Ferrum now requires absolute path and Cuprite will auto-expand local paths. I think we can close it.

[2022-10-23 06:50] #153 closed

[2022-10-27 19:07] TylerRick commented on #161
I tried `page.driver.debug(binding)` as described at https://github.com/rubycdp/cuprite#debugging

but, while it does open a visible browser window, the content is empty:

![image](https://user-images.githubusercontent.com/14151/198374794-fa811b23-d539-407a-9281-4f313673951c.png)

I was considering opening an issue for it, but it sounds like this #161 is already the issue for this bug, right? It's

[2022-11-08 12:03] jean-francois-labbe opened #216 "How to configure cuprite to test on mobile emulation ?"
I'm trying to migrate to cuprite.
I can't find any setup for mobile testing.
I have the following selenium configuration.
[code]

I'd like to reproduce it with cuprite. I looked in the main repositories using cuprite (using [this page](https://github.com/rubycdp/cuprite/network/dependents)). None is testing executing system tests on mobile.

Here is my current attempt.
I tried to specify the mobil

[2022-11-23 17:27] nialbima commented on #209
@camertron posted a helpful monkey-patch [here](https://github.com/dequelabs/axe-core-gems/issues/243) if anybody's interested.

[2022-11-28 18:32] rubendinho opened #219 "ReferenceError: _cuprite is not defined"
Since upgrading Cuprite to 0.14.3 and Ferrum to 0.13.0, we're seeing intermittent errors in our RSpec runs on Github Actions. We are not seeing errors like this locally.

[code]

Would appreciate any tips on mitigating this.